//============= General =============//
ul, ol {margin:0; padding:0; list-style: none;}
body {font-family: 'Open Sans', sans-serif;}
h1, h2, h3, h4, h5 {text-decoration: none; color: @baseColor01; font-weight:normal; clear:both;}
h1 a, h2 a, h3 a, h4 a, h5 a {text-decoration: none; color: inherit; font-weight:normal}
h1 { font-size:20px; font-weight:bold; margin: 12px 0 0}
h2 { font-size:18px; padding: 22px 0 5px; margin:0}
h3 { font-size:16px ; padding:5px 0; margin:0}
.clear {clear: both ;}
p {margin: 0.7em 0;}
a {color:@baseColor01;}
a:hover, a:focus{color:@baseColor01;text-decoration:underline;}
.btn {background: @baseColor03;}
.btn:hover {background: @baseColor06;}
.rating {color:@baseColor09; font-size:17px}
section.color {background:@baseColor04;/* padding:25px 0; */ padding-bottom:25px; padding-top:10px;}
section.color > .container > *:first-child { margin-top:0; padding-top:0;}
.container:after {content: "";display: table; clear: both;}
.WYSIWYG:after { content: ""; display: table;clear: both;}
//bullets
.bullets { position:relative; padding-left: 15px; 
    // &:not(:first-child) { margin-top: 0.6em; }
}
.bulletsBefore {content:""; width:7px ;height:7px; border-radius:50%; margin-top:7px; border:none; display:block; background: @baseColor02; position:absolute; left:0; top:0;  }

//WYSIWIG
.WYSIWYG ol {counter-reset: numbers;list-style: none; padding: 0;}
.WYSIWYG ol > li {position: relative; padding-left: 15px;}
.WYSIWYG ol > li:before { counter-increment: numbers; content: "" counter(numbers) "."; font-size: 14px; text-align: left; position: absolute; top: 0; left: 0; display: inline-block; }
.WYSIWYG ul {}
.WYSIWYG ul li {.bullets();
    &:not(:first-child) { margin-top: 0.6em; }
}
.WYSIWYG ul li:before {.bulletsBefore()}
.WYSIWYG iframe { float:left;margin-right: 15px; margin-bottom: 15px;}

//header
header {background:@baseColor01; border-bottom:6px solid @baseColor02; }

//breadcrumbs
#breadcrumbsWrap {width:90%;}
#breadcrumbs { overflow: hidden; padding: 11px 0 0; position: relative; z-index: 2; height:24px; }
#breadcrumbs ul.breadcrumbs ul {height:15px;}
#breadcrumbs li { display: block; float: left; font-size: 11px;  line-height: 12px; text-transform: capitalize;}
#breadcrumbs li a {color:@baseText}
#breadcrumbs li:not(:last-child):after { content: ">"; margin: 0 .4em; display: inline-block; text-decoration: none;}

//social btn header
.button.social { width:36px; height:37px;z-index:1;float:right; line-height:33px; font-size:23px;padding:0; position:relative; text-align:center; cursor: pointer; }
.button.social > i{font-size:21px; position:absolute; left:0; bottom: 0; padding:53px 11px 8px 8px; background:@baseColor01;}
.button.social:not(ul) {color:@baseWhite;}
.button.social ul {position:absolute; right: 50%; text-align:center; top:-99px;.transform (@translateX: 50%) ;.transition (@prop: top, @time: 0.2s); z-index:-1;padding:0;}
.button.social:not(.mobile):hover ul, .button.social.open ul {top:37px;padding-top:3px;}
.button.social ul > li {height:31px; width:31px; display:block; margin-top:3px;}
.button.social ul li i {color: @baseWhite; }
.button.social ul li:before {content:none;}
.button.social ul li.gp {background:@googleColor;}
.button.social ul li.face {background:@facebookColor;}
.button.social ul li.tw {background:@twitterColor;}
.button.social ul li.rss {background:@rssColor;}

//sidebar
#sidebar {padding:30px 0 0 ;}
#sidebar .widget {float:left;}
#sidebar h3 { font-size:18px; color: @baseColor01;  border-left: 4px solid @baseColor02; padding-left: 10px; margin-bottom:12px; padding-top:0;padding-bottom:0;}
//articleList
.widget.articleList ol li {line-height:12px;.bullets();}
.widget.articleList ol li:before{ .bulletsBefore();}
.widget.articleList ol li > a{border:none; padding:3px 0;}
//newsList
.widget.newsList ul {margin:0;}
.widget.newsList ul li a{ .bullets(); padding-left:0;}
.widget.newsList ul li a:before{ .bulletsBefore(); left:-16px; top:7px;}
.widget.newsList ul li:first-child a:before{ top:-3px;}
.widget.newsList ul li p { margin:0;}
.widget.newsList ul li time { display:none;}

.widget-title{    font-size: 20px; padding: 22px 0 5px; margin: 0; color:@baseColor01;    font-weight: normal;    text-decoration: none;    clear: both;}

//footer
footer {background:@baseColor01;padding-top: 30px; padding-bottom:15px; clear:both;}
footer, footer a, footer a.focus, footer a.active { color: @baseWhite !important; font-size:12px;}
footer a:hover {color:@baseWhite; text-decoration:underline}
footer .logo { margin-bottom:25px;}
footer .copyright {}
footer .author {float:none;}
footer .author .fa-google-plus {background:@googleColor; width:16px; height:16px; display:inline-block; line-height:16px; text-align:center; margin-right:5px;}
footer .contactUs span {text-decoration:underline; margin-left:5px;}
.shareBtns {overflow:hidden}
.shareBtns li.share {margin-right: 2px;}
.shareBtns li {float:left;padding: 0 4px 0 0;}
.shareBtns li:not(.share) { margin-top:4px;}
.shareBtns li:not(.share) a{ width:16px; height:16px; line-height:18px;}
.shareBtns li a i { font-size:13px; line-height:16px;}
.shareBtns,footer .author, footer .contactUs, footer .copyright {margin:3px 0;}
footer .row > div {padding:0;}
footer .disclaimer { margin-top:15px; font-size:11px; color:@baseWhite; opacity:0.75;}
footer .disclaimer a { color:@baseWhite; text-decoration:underline;}
footer .contactUs i:hover {text-decoration: none; }

//footer menu
#menu-footer {}
#menu-footer a {color: @baseWhite;}
#menu-footer > li .sub-menu { margin-top:15px;}

//-------Home page-------//
.iconIntro {float:left; margin-right:15px; margin-top:6px;}
//newsItemsLinks
.newsItemsLinks {width:100%; float:left; margin-bottom:21px;}
.newsItemsLinks .info {background: fade(@baseColor01,80%); height:49px; border-top:3px solid @baseColor02; text-align:left; padding:8px 11px; font-weight:bold}
.newsItemsLinks li {padding:0 11px; margin-bottom:0;}
.newsItemsLinks li:nth-child(n+5) { margin-top: 25px;}
.newsItemsLinks li:first-child, .newsItemsLinks li:nth-child(4n+1) {padding:0 11px 0 0;}
.newsItemsLinks li:nth-child(4n) {padding:0 0 0 11px ;}
.newsItemsLinks li:hover .info {text-decoration:underline }
.newsItemsLinks .brand a {background:@baseWhite;}
.newsItemsLinks .brand .rating {line-height:40px; font-size:19px;}
//bannerConv
.bannerConv { margin-top:15px;}

//-------Brand Review page-------//
//topReview
.topReview {position:relative}
.topReview .author {position:absolute; right:6px; top:7px; font-size:11px;}
.topReview .title { font-size:18px; color:@baseColor01;  height:33px; line-height:30px;}
.topReview .WYSIWYG {clear:both; margin-top:10px; float:left;}
.topReview .expand {padding:0;}
.brandName{font-weight: 400 !important;}
//--left side
.topReview .brandDetails { padding-left:0;}
.topReview .brandDetails .brand {text-align:center; display:block; border-top:1px solid @baseColor01; padding-top:10px;}
.topReview .brandDetails .brand > span {padding:0;}
.topReview .brandDetails .brand img {margin:0 auto; max-width:100%;}
.topReview .brandDetails .brand .btn { clear:both; font-size:31px;height:65px;}
.topReview .brandDetails .brand .rating {line-height:40px; font-size:19px;}
.topReview .brandDetails .bonus { font-size:19px; text-align:center; font-weight:bold; color:@baseColor01; background:@baseColor04;  margin-top:11px; height:45px; line-height:44px;}
.topReview .brandDetails .info {padding-top:11px;border-top:1px solid #ababab;}
.topReview .brandDetails .info .readMore > ul > li {line-height:23px;}
.topReview .brandDetails .info .readMore > ul > li span {font-weight:600; page-break-after:right;}
.topReview .brandDetails .info ul.payments li {width:36px; float:left; margin-right:5px; margin-bottom:5px;}
.topReview .brandDetails .info ul.payments li img {max-width:100%;}
.expand i:after, .expand .fa:before { float:right; }
//--right side
.moreDetails {padding-right:0; line-height:18px;}
.moreDetails > .row > div {padding:0;}
//prosCons
.prosCons {}
.prosCons .title:before {content:""; background:url('../../images/proscons.png') no-repeat 0 0;width:33px; height:30px; display:block; float:left; margin-right:4px;}
.prosCons .pros, .prosCons .cons { margin-bottom:15px;}
.prosCons .pros .title, .prosCons .cons .title{ font-size:16px;}
.prosCons .pros li, .prosCons .cons li{.bullets(); line-height:23px;}
.prosCons .pros li:before, .prosCons .cons li:before {.bulletsBefore(); margin-right:5px; top:-1px;}
.prosCons .cons .title:before {background-position:0 -30px;}
.moreDetails .more .title { margin-bottom:0;}
.moreDetails .more p { margin-top:0;}
//ratingDetails
.ratingDetails ul {float:left; display: block; width:100%;}
.ratingDetails ul li { margin-bottom:5px; line-height:20px; display:block;}
.ratingDetails ul li span {width:70%; float:left; }
.ratingDetails ul li .rating { display:inline-block; width:30%;float:left;}
//slider
.topReview .slider {padding:0 5px;}

//-------Product Review page-------//
.product .top > div {padding:0;}
.product .top > div:first-child { margin-top:13px;}
.product .top .image {padding:0;}
.product .top .image img {width:100%;}
.product .top .info {text-align:center}
.product .top .info .rating { margin-bottom:18px; font-size:20px;}
.product .top .info .rating .desc {color:@baseColor01; font-size:14px; margin-top:5px;}
.product .top .info .bonus { font-size:29px; font-weight:bold; color:@baseColor01; line-height:34px; margin-bottom:28px;}
.product .top .visit {float:right;}
.product .top .visit:hover a {text-decoration:none;}
.product .top .visit .btn {height:52px; font-size:20px; padding:0 5px; font-weight:normal}
.product .top .visit .btn .play { font-size:25px; font-weight:bold; margin-right:2px;}
.productAttr ul { margin-top:7px;}
.productAttr ul li {.bullets(); }
.productAttr ul li span {font-weight:bold;}
.productAttr ul li:before {.bulletsBefore()}
#GameCont {width:58.333%;}
//-------Category page-------//
.catImg {float:left; margin:0 12px 12px 0;}
.catImg + .WYSIWYG > ul { display:table;}

//-------News/Article page-------//
.articleNews .imgWrap {float:left;margin:14px 15px 5px 0; font-size:12px; color: #A9A9A9; border-bottom:1px solid @baseColor08; padding-bottom:5px;}
.articleNews .imgWrap img { margin-bottom:8px;}
.articleNews .imgWrap .date { margin-bottom:7px;margin-left:5px; }
.articleNews .imgWrap .date i { margin-right:3px; font-size:14px;}
.articleNews .imgWrap .shareBtns { margin-left:3px;}
.articleNews .imgWrap .shareBtns li {margin-top:0;}
.articleNews .imgWrap .shareBtns li a { width:24px; height:24px; }
.articleNews .imgWrap .shareBtns li a i {font-size:20px; line-height:25px;}
.articleNews .imgWrap + .WYSIWYG ul {  display: table;}

//-------News Archive page-------//
.newsArchive h1 { margin-bottom:20px;}
.newsArchive ul li { margin-bottom:24px; color:@baseText; font-size:14px;}
.newsArchive ul li h2 {padding:0 0 10px 0;}
.newsArchive ul li .image {padding:0;}
.newsArchive ul li .image img {max-width:100%;}
.newsArchive ul li p {color:@baseText}
.newsArchive ul li .date {color:@baseColor08; font-size:12px;}
.newsArchive ul li .date i { font-size:14px;}
.newsArchive ul li .link {color:@baseColor08; font-size:13px; position:relative; margin-top:20px;}
.newsArchive ul li .link:after {content:" >"; position:absolute; right:-11px; top:1px;}
.newsArchive ul li .link:after {content:" >"; position:absolute; right:-11px; top:1px;}

//-------Post Archive page-------//
.post-archive{
    .page-title{padding-left: 20px; margin-bottom:15px; display: inline-block;margin-top: 30px;}
    .shareBtns{
            li{ 
                a{
                    i{font-size: 39px !important}
                }
             }
        } 
    .posts{display: flex;  flex-wrap: wrap;
        .loading{margin:0 auto 20px; color: @baseColor08; width:100%; text-align: center;
            .fa-spin {  -webkit-animation: fa-spin 2s infinite linear;  animation: fa-spin 1.2s infinite linear;
            }
        }
        .single-post{margin-bottom: 20px;
            &:before{content: "";  position: absolute;  display: block;  top: 100%;  left: 15px;  width: calc(~"100% - 30px");  height: 1px;  background-color: lighten(@baseColor08, 20%);}
            .post-link{
                &:hover{
                    text-decoration: none;
                    .title{text-decoration: underline;}
                }
                span{display:block;
                    .main-image{width:100%;border-bottom: 3px solid @baseColor01;}
                    &.title{font-weight:400; font-size: 16px; line-height: 22px; margin-bottom: 10px; padding-right: 5px;}
                }
                .date{text-align:right; color: @baseColor08; margin-top: 3px; margin-bottom:0;
                    i{margin-right:12px;}
                }
            }
            .tags{
                .tag{display:inline-block; margin-bottom: 7px; margin-right:4px;
                    a{background-color: @baseColor01; color: @baseWhite; padding: 1px 10px; font-weight: 400; line-height: 18px;
                        &:hover{text-decoration: none;background-color:darken(@baseColor01, 20%);}
                    }
                }
            }
        }
    }
}

//wp-pagenavi
.wp-pagenavi { margin-top:44px;}
.wp-pagenavi ul li { margin-bottom:0;}
.wp-pagenavi ul li:first-child {float:none;}
.wp-pagenavi ul li a, .previouspostslink ul li span, .wp-pagenavi a.first,  .wp-pagenavi .page-numbers,.newsArchive .wp-pagenavi ul li, .wp-pagenavi .larger.page,.newsArchive .wp-pagenavi .smaller.page, .wp-pagenavi a.first,.wp-pagenavi ul li.current span{color:@baseColor08; font-size:16px;}
.wp-pagenavi ul li a.previouspostslink, .wp-pagenavi ul li a.nextpostslink {background:none; line-height:20px; }
.wp-pagenavi ul li a.previouspostslink:before, .wp-pagenavi ul li a.nextpostslink:before { color:@baseColor08; font-size:16px;}
.wp-pagenavi ul li.current,.wp-pagenavi ul li.current .active { font-size:18px; color:@baseColor01; font-weight:bold}
.wp-pagenavi ul li a.nextpostslink:before {content:"\f105";}
.wp-pagenavi ul li a.previouspostslink:before {content:"\f104";}
.wp-pagenavi a, .wp-pagenavi span {margin:0 !important;}
.wp-pagenavi ul li, .wp-pagenavi .larger.page, .wp-pagenavi .smaller.page, .wp-pagenavi a.first {margin:0;}
.wp-pagenavi ul li a:hover, .previouspostslink ul li.current span, .wp-pagenavi .larger.page:hover, .wp-pagenavi .smaller.page:hover {color:@baseColor01}

//-------blog post page-------//
body[data-page-type="blog_posts"] {
    .shareBtns { text-align: right; margin-top: 12px;
        li { float: none; display: inline-block;
            &:not(.share) { margin: 0 2px; padding: 0; 
                a { width: auto; height: auto; line-height: 1; background: none;
                    i { font-size: 32px; line-height: 1; vertical-align: middle;
                        &.fa-facebook-square { color: #3b5998; }
                        &.fa.fa-google-plus-square { color: #dd4b39; }
                        &.fa.fa-twitter-square { color: #55acee; }
                        &.fa.fa-pinterest-square { color: #ca2026; }
                    }
                }
            }
            &.share { font-size: 15px; text-transform: uppercase; }
        }
    }
    img.post_img { width: 100%; margin: 15px 0; }
    .WYSIWYG {line-height: 1.5714285714285714285714285714286; margin: 0 0 25px; }
    ul.cat_tags {  margin: 20px 0; font-size: 0;
        li { display: inline-block; margin: 0 8px 8px 0; font-size: 14px;
            a { color: #fff; background: @baseColor01; display: inline-block; line-height: 21px; padding: 0 8px; -webkit-transition: all .5s ease; transition: all .5s ease;
                &:hover { background: darken(@baseColor01, 20%); -webkit-transition: all .5s ease; transition: all .5s ease;}
            }
        }
    }
    #sidebar { padding: 15px 0 0; 
        .widget { width: auto; 
            a:not(.btn):hover { color: @baseColor01; }
        }
        .widget.large_thumbnails img { border-bottom: 3px solid @baseColor01; -webkit-transition: all .5s ease; transition: all .5s ease;
            &:hover { -webkit-filter: brightness(1.1); -webkit-transition: all .5s ease; transition: all .5s ease; }
        }
        .widget.large_thumbnails h4 { color: @baseColor01; }
    }
}

//-------404 page-------//
.error-404-container {line-height:35px; text-align:center;}
.error-404-container section.color{padding: 100px 35%; margin: 20px 0;}
.error-404-container h1{ font-size: 38px; margin: 20px 0; font-weight: bold; line-height:40px;}
.error-404-container .subtitle{ font-weight: bold; font-size: 19px; color: @baseColor05; line-height:24px; margin-bottom:35px;}
.error-404-container a{ margin: 20px 0; font-size:14px; text-decoration:underline; display:block;}

//-------Redirect page-------//
.redirect-page-container section.color {padding: 100px 35%; margin: 20px 0;text-align: center;}
.redirect-page-container h3 {font-size:31px; font-weight:bold; line-height:34px;}
.redirect-page-container p { margin: 30px 0; font-size:16px; font-weight:600;}
.redirect-page-container .redirect-loading {font-size: 40px; color:@baseText}

//-------Site Map page-------//
.WYSIWYG .kwayy-html-sitemap-wrapper  ul li { display:block; line-height:22px;}
.WYSIWYG .kwayy-html-sitemap-wrapper  ul { display:block;}


.topBrandsColumns{
    li{
        .btn{
                padding: 0 10px;  margin-right: 0%; width: 48%;
        }
        a > div {
            text-align: center; 
        }

    }
 }  


/*=== desktop ===*/
@media (min-width: 992px) {
    .container {padding:0;}
    //nav
    header nav {/* margin-left: 450px; margin-right: 50px; */ padding-top: 35px; width: 70%; float:left;}
    .button.social { margin-top:35px;}
    //logo
    .site-logo { /*width: 250px;*/padding: 0 15px 0 0; }
    .site-logo img {max-width:100%;}
    //newsItemsLinks
    .newsItemsLinks a {height:198px;}
    .newsItemsLinks .brand a img {margin-top: 49px;}
    .newsItemsLinks .brand a:hover img{margin-top: 42px;}

    //-------Brand Review page-------//
    //ratingDetails
    .ratingDetails {border-top: 2px solid #ababab;padding-top:15px;}

    //-------Product Review page-------//
    .productAttr { margin-bottom:5px;}
    .productAttr ul li {width:20%; }
    .productAttr ul li:nth-of-type(n+6) {margin-top:10px;}
    //-------News/Article page-------//
    .articleNews .intro {overflow:hidden;}

    //-------News Archive page-------//
    .newsArchive ul li .image { margin-top:5px;}
}

/* 2nd break desktop */
@media (min-width : 992px) and (max-width : 1199px) {
    .newsItemsLinks .brand a img { margin-top:30px;}
    .newsItemsLinks .brand a:hover img { margin-top:27px;}

    .topReview .brandDetails .info { padding-bottom:5px;}
    .topReview .brandDetails .brand .btn {height:54px;}
    .topReview .brandDetails .info > ul > li {line-height: 21px;}
    .topReview .brandDetails .info { padding-top: 5px;}
    .topReview .ratingDetails ul li { margin-bottom:3px;}
}

/* ===Ipad portrait to desktop ===*/
@media (min-width: 768px) {

    //sidebar
    #sidebar .widget {width:25%}
    //bannerConv
    .bannerConv a {height:110px;}
    .bannerConv a {background: @baseWhite; border:1px solid #d7d7d7; }
    .bannerConv {border:none;}
    .bannerConv a .bonus {font-size:35px; background:@baseWhite;color:@baseText; padding-left:38px;height:108px;}
    .bannerConv a .visit, .bannerConv a .logo {background:@baseWhite}
    .bannerConv a .logo span {float:left; padding-left:15px;height:100%; background: none;}
    .bannerConv a .logo span:nth-child(2) {padding-left:19px}
    .bannerConv a .logo span img { margin-top:5px;}
    .bannerConv a .logo span:first-child {display: block; float: none; position: absolute; height: 110px; left: 105%; top: 0;
        &:after, &:before {content: ""; transform: skew(34deg); -webkit-transform: skew(34deg); -moz-transform: skew(34deg); -o-transform: skew(34deg); -ms-transform: skew(34deg); width: 27px; height: 50%; background: @baseColor01; top: 0; left: auto; right: 0; border-radius: 0; position: absolute; display: block; z-index: 1; }
        &:after {top: 50%; transform: skew(-34deg); -webkit-transform: skew(-34deg); -moz-transform: skew(-34deg); -o-transform: skew(-34deg); -ms-transform: skew(-34deg); }
    }

    //-------Category page-------//
    .catTitle ~ a ~ .WYSIWYG h2,.catTitle ~ a ~ .WYSIWYG h3 {display:inline-block; padding-top:0;}
    h1.catTitle {position:relative; padding-left:42px;margin-bottom:17px; margin-top:10px;}
    h1.catTitle:before {content:"";position:absolute; left:0; top:-4px; background:url('../../images/category_icons.png') -1px 0  no-repeat @baseColor01;  width:38px; height:38px; display:block;  border-radius:50%; display:inline-block; margin-right:5px; }
    h1.catTitle.slots:before {background-position:-1px 0px;}
    h1.catTitle.roulette:before {background-position:-1px -38px;}
    h1.catTitle.blackJack:before {background-position:-1px -76px;}
    h1.catTitle.videoPoker:before {background-position:-1px -114px;}
    h1.catTitle.craps:before {background-position:-1px -152px;}
    h1.catTitle.baccara:before {background-position:-1px -190px;}
    h1.catTitle.keno:before {background-position:-1px -228px;}
    h1.catTitle.poker:before {background-position:-1px -266px;}
    h1.catTitle.general:before {background-position:-1px -304px;}
    h1.catTitle.lotto:before {background-position:-1px -342px;}
    h1.catTitle.bingo:before {background-position:-1px -380px;}
    h1.catTitle.mobile:before {background-position:-1px -418px;}
    h1.catTitle.sportsBetting:before {background-position:-1px -456px;}
    h1.catTitle.payment:before {background-position:-1px -494px;}
    h1.catTitle.software:before {background-position:-1px -532px;}
    h1.catTitle.tax:before {background-position:-1px -570px;}
    h1.catTitle.law:before {background-position:-1px -608px;}
    h1.catTitle.liveCasino:before {background-position:-1px -646px;}
    h1.catTitle.bonus:before {background-position:-1px -684px;}
    h1.catTitle.dollar:before {background-position:-1px -720px;}

    //-------News/Article page-------//
    .articleNews .imgWrap ~ .WYSIWYG h2, .articleNews .imgWrap ~ .WYSIWYG h3 {display:inline-block; padding-top:10px;}
}

/* === iPad: portrait only === */
@media (min-width : 768px) and (max-width : 991px) {
    //logo
    .site-logo {padding:0;}
    //sidebar
    .widget.articleList ol li p {font-weight:normal;}
    #sidebar .widget {width:50%;}
    //bannerConv
    .bannerConv a .bonus { font-size:25px;  padding-left: 31px; padding-right:5px;}
    .bannerConv a .logo {width:27%; margin-right:6%;}
    .bannerConv a .logo span img { margin-top:8px;}
    .bannerConv a .logo span:nth-child(2) {padding-left: 5px;}
    .bannerConv a .logo span:first-child {left:101%;}
    //newsItemsLinks
    .newsItemsLinks a {height:120px;}
    .newsItemsLinks .brand a img {margin-top: 28px;}
    .newsItemsLinks .brand a:hover img { margin-top:26px;}

    //-------Brand Review page-------//
    .topReview .moreDetails {padding:0; margin-top:20px;}
    .topReview .ratingDetails {padding-left:0; padding-right:31px !important;}
    .topReview .reasons {padding-left:7px !important;}

    //-------Product Review page-------//
    .product .top .info {text-align:left;}
    .product .top .info .rating {text-align:left;}
    .product .top .info .rating .desc { margin-top:0;}
    .product .top .info .bonus { margin-bottom:18px;}
    .product .top .visit .btn {height:45px; /*font-size:15px;*/display:inline-block; padding:0 15px;}
    .productAttr ul li {min-height:40px;}
    .productAttr ul li:nth-of-type(n+5) {margin-top:10px;}
    #GameCont {width:80%;}

    //-------News/Article page-------//
    .articleNews .imgWrap { margin-top:4px;}
    .articleNews .imgWrap ~ .WYSIWYG h2, .articleNews .imgWrap ~ .WYSIWYG h3 { padding-top:0px;}

    //-------404 page-------//
    .error-404-container section.color { padding: 100px 25%;}

    //-------redirect page-------//
    .redirect-page-container section.color { padding: 100px 25%;}
}
/*=== Desktop (small screen) ===*/
@media (min-width : 992px) and (max-width : 1199px) {
    //bannerConv
    .bannerConv a .logo span:first-child {  left: 237px;}
    .bannerConv a .bonus{padding-left:65px;}
    //newsItemsLinks
    .newsItemsLinks a {height:160px;}

}
/* ===  Ipad and mobile  === */
@media (max-width: 991px) {
    body {padding-top:60px}
    .WYSIWYG iframe {width:100%;}
    //header
    header {width:100%; height:60px; position:fixed; left:0; top:0;}
    header .container {padding:0;}
    //logo
    .site-logo {text-align:center; }
    .site-logo img {max-width:188px;}
    //social btn header
    .button.social {height:53px; width:47px;}
    .button.social > i {padding:18px 11px 14px 14px;}
    .button.social:not(.mobile):hover ul, .button.social.open ul {top: 53px; padding-top:4px;}
    //footer
    footer .disclaimer {margin-top: 5px;}
    footer {padding:8px 0;}
    footer .copyright {text-align:center;}

    //-------Product Review page-------//
    .product .top > div:first-child { margin-top: 0px; }
    //-------Brand Review page-------//
    .topReview .brandDetails .brand .btn { font-size:22px; height:49px; margin-top:30px; margin-left:10px;}
}

/*=== Smartphone (landscape+portrait) ===*/
@media screen and (max-width:767px) {
    p {margin: 0.5em 0;}
    body > .container {padding:0 11px;}
//    a.expand.msg_head { margin-top:-9px;}
    h2 { padding: 5px 0 5px;line-height: 22px;}
    a img.alignleft,a img.alignright { width:100%; height:inherit;}
    header{z-index: 9999 !important;}

    #sidebar .widget { margin-bottom:17px;}
    //expand
    .expand {border-top:none; border-bottom-color: @baseColor08;}
    .expand i, .expand i:after {color: #9C9C9C !important;}
    .expand i:after { font-size:13px;}
     section.color { padding:12px 0;}
    //bannerConv
    .container.banner {margin:0 -15px;}
    .bannerConv a .logo span:first-child { display:none;}
    .bannerConv a .bonus, .bannerConv a .visit {background: @baseWhite}
    .bannerConv a .bonus { font-size:20px; color:@baseText;border-top:1px solid #d7d7d7; padding-top:7px;}
    .bannerConv a .visit {border-bottom:1px solid #d7d7d7;}
    .bannerConv a .visit .btn {height:40px; font-size:19px; margin-top:11px; margin-bottom:8px;}

    //newsItemsLinks
    .newsItemsLinks .info { font-size:13px; padding:4px 7px; height:38px; border-top-width:1px; line-height:15px;}
    .newsItemsLinks li:first-child {padding: 0 5px 0 0;}
    .newsItemsLinks li:nth-child(even) {padding-left: 5px;}
    .newsItemsLinks li:nth-child(odd) {padding-right: 5px;}
//    .newsItemsLinks li:last-child {padding: 0 0 0 5px;}
    .newsItemsLinks li:nth-child(n+3) { margin-top:10px;}

    //-------Brand Review page-------//
    .topReview .brandDetails .info {border:0; margin-top:-10px;}
    .topReview .brandDetails .brand .btn { margin-top:5px; font-size:20px;}
    .topReview h1 {padding:0 15px;}
    .topReview .brandDetails .bonus { margin-top:0;}
    .topReview .slider {padding:13px 0;}
    .topReview {margin:0 -15px; margin-bottom:15px;}
    .topReview .brandDetails {padding:0 15px;}
    .topReview .moreDetails {padding:0 15px;}
    .topReview .WYSIWYG {padding:0 15px;}
    .topReview .readMore {clear:both; overflow:hidden;padding-top:15px;}
    .moreDetails > .row > div {overflow:hidden; clear:both;}
    .bannerConvWrap {margin:0 -15px;}

    //-------Post Archive page-------//
    .post-archive{
        .page-title{}

        .posts{
            .single-post{ padding:0;
                &:before{left: 0;  width: calc(~"100% ");}
                .post-link{

                    span{
                        .main-image{}
                        &.title{margin-top: 15px; margin-bottom: 15px;}
                    }
                    .date{display:none;}

                }
                .tags{
                    .tag{
                        a{
                            &:hover{}
                        }
                    }
                }
            }
        }
    }

    //-------Product Review page-------//
    .product .top .info {padding:0 0 0 10px; }
    .product .top .info .bonus{ font-size:18px;line-height:18px;}
    .product .top .visit {margin-top:10px; padding:0;}
    .product .top .visit .btn {height:43px; font-size:18px; }
    .product .top .visit .btn .play { font-size:20px;}
    #GameCont {display:none;}
    .product .top .info .bonus { margin-bottom:0;line-height:20px;}
    .productAttr { margin-bottom:0;}
    .productAttr ul li {margin-bottom:15px;}

    //-------News/Article page-------//
    .articleNews .imgWrap {width:100%; margin-top:3px;}
    .articleNews .imgWrap img {max-width:100%;}
    .articleNews .WYSIWYG {clear:both;}

    //-------News Archive page-------//
    .newsArchive h1 { margin-bottom:15px;}
    .newsArchive ul li .bottom {padding:0;}
    .newsArchive ul li h2 { font-size:14px; line-height:16px;}
    .newsArchive ul li .link {text-align:right; display:block; padding-right:15px; margin-top:-5px; border-bottom:1px solid @baseColor08}
    .newsArchive ul li .link:after {right:0;}
    .wp-pagenavi { margin-top:30px;}
    .wp-pagenavi {text-align:center}

    //-------404 page-------//
    .error-404-container section.color{ padding: 50px 5% 100px;}

    //-------Redirect page-------//
    .redirect-page-container section.color {padding: 50px 5% 100px;}

    //-------widgets-------//
    .brandListNumBonus .btn { height:46px;  margin: 10px 0px 0 6px;}
    .widget ul li:first-child > a {  padding-top: 0px !important;  }

}