//nav
header nav {z-index:10;}
header nav .hideshow ul {position:absolute}
header nav .hideshow .more {font-size: 8px; line-height: 40px; color: @baseWhite; }
header nav ul li ul li a {float: left; clear: both; width: 100%;}
header nav {font-weight:bold;}
header nav a {text-transform: capitalize;}
.ddArrow {width:34px; height:100%; position:absolute; right:-4px; top:0px;}
.ddArrow i {  .transform(@scale: 1); font-size:16px;color:@baseColor01;}
header ul li .ddArrow {display:block; /*background: lighten( @baseColor04, 11%)*/; position:absolute; right:0px; top:0;}
header ul li .ddArrow i {.transform (@rotate: -90deg);float:right; margin-right:11px; margin-top:7px;}
.noScroll {position:fixed; top:-47px; height:100%; width:100%; overflow-y:scroll;}


// #mainNavigation *:before, #mainNavigation *:after {display: none !important; list-style: none !important; content: none !important; background: none !important;}
/*=== desktop ===*/
@media (min-width: 992px) {
    header nav ul{margin: 0;text-align:right; font-size:0;}
    header nav ul.menu > li { height: 37px;}
    header nav ul.menu > li > .wrapBtn{}
    header nav > ul > li > .wrapBtn > .ddArrow {background:none; top:1px;}
    header nav > ul > li > .wrapBtn > .ddArrow i {.transform (@rotate: 0deg);}
    header nav ul > li{ min-width: 70px; line-height:31px;  display: inline-block; text-align: center;position: relative; text-transform:capitalize;}
    //header nav #menu-top_menu > li { margin-left: 3px;}
    header nav ul.menu.desktop li:hover > ul.sub-menu, header nav ul.menu li.active > ul.sub-menu , ul.menu.desktop .hideshow li:hover > ul.sub-menu, ul.menu.desktop .hideshow:hover > ul, ul.menu .hideshow.active > ul  {display: block;}
    header nav:not(.mobileDevice) ul.menu.desktop >li:not(.hideshow):hover > .wrapBtn, header nav ul.menu > li.active > .wrapBtn, ul.menu.desktop .hideshow:hover > .more, ul.menu .hideshow.active > .more{min-width: 65px; color:@baseColor01; text-decoration: none; background:@baseColor04; }
    header nav:not(.mobileDevice) ul.menu.desktop > li:not(.hideshow):hover > .wrapBtn a, header nav ul.menu > li.active > .wrapBtn a, header nav:not(.mobileDevice) ul.menu.desktop > li.current-menu-item:not(.hideshow):hover > .wrapBtn a, header nav ul#menu-top_menu.menu.desktop > li.sub:not(.hideshow):hover > .wrapBtn .ddArrow i, header nav ul#menu-top_menu > li.sub.active > .wrapBtn .ddArrow i {color:@baseColor01}
    header nav ul:not(.sub-menu) > li > .wrapBtn a{min-height: 31px; font-size: 14px; text-decoration: none; margin:3px 7px 3px 7px; }
    header nav ul li .wrapBtn a {color: #fff; }
    header nav ul .current-menu-item, header nav ul .current-menu-parent {border-bottom: 2px solid @baseColor02; }
    header nav ul .current-menu-item  >.wrapBtn >a, header nav ul .current-menu-parent >.wrapBtn >a{background:none; color:@baseColor02 }
    header nav ul .current-menu-item > .wrapBtn > a{color:@baseColor02 ;}
    header nav > ul > .current-menu-item:hover > .wrapBtn > a, header nav > ul > .current-menu-item:hover > .wrapBtn > .ddArrow > i{color:#fff;}
    header nav ul#menu-top_menu > li.sub > .wrapBtn a {margin:3px 25px 3px 7px;}
    header nav ul#menu-top_menu > li.sub > .wrapBtn .ddArrow i { color: #fff;}
    header nav ul#menu-top_menu .current-menu-item.sub > .wrapBtn > .ddArrow > i, header nav ul#menu-top_menu .current-menu-parent.sub > .wrapBtn > .ddArrow > i {color:@baseColor02 ;}
    header nav ul#menu-top_menu > li.sub>.wrapBtn .ddArrow i:after {background:none; }
    header > nav  ul.menu > li:not(.hideshow)> .wrapBtn > a:hover{text-decoration: none; color:@baseWhite !important; }
    header nav ul li ul.sub-menu, header nav ul li ul.sub-menu ul.sub-menu, ul.menu .hideshow ul{display: none; background: @baseColor04; position: absolute;  top: 100%;   z-index: 9999999; }
    header nav ul li ul.sub-menu ul.sub-menu {right :-100%; left:inherit; top:0;}
    #menu-top_menu .hideshow .more ~ ul ul{left :-100%; top:0;}
    #menu-top_menu .hideshow .more~ul li .ddArrow {left:0;}
    header nav ul li ul.sub-menu {left: 0;}
    header nav ul li ul.sub-menu, #menu-top_menu .hideshow ul{min-width: 235px; width:100%;}
    header nav ul li ul.sub-menu li, #menu-top_menu .hideshow ul li {float:left; min-height: 39px;padding: 0;min-width: 150px; width:100%; line-height:30px;}
    header nav ul li ul.sub-menu li a, #menu-top_menu .hideshow ul li a {color: @baseText; margin:0; display: block;min-height: 39px; font-size:14px; text-decoration: none; text-align:left; padding: 2px 33px 2px 12px; font-weight:normal;}
    header nav ul li ul.sub-menu li ul.sub-menu li:last-child a:after {content:none;}
    header nav ul li ul.sub-menu li:not(:last-child) a:after {content:""; width:96%; height:1px; display:block; background: @baseColor08; position:absolute; left:4px; bottom:-1px;}
    #menu-top_menu .hideshow ul li a { padding: 4px 12px 5px 40px;}
    header nav ul li ul li.current-menu-item > .wrapBtn a  {background:@baseColor01; color:@baseWhite !important;}
    header nav ul li ul.sub-menu > li:hover > div > a, header nav ul li ul.sub-menu li:hover > a, header nav ul li ul.sub-menu li.current-menu-item > a, #menu-top_menu .hideshow ul li:hover > .wrapBtn > a, #menu-top_menu .hideshow ul li:hover > .sub-menu >.wrapBtn > a{background: @baseColor01;color: @baseWhite;  border-radius: 0px; text-decoration: none;}
    header ul li ul li:hover > .wrapBtn > .ddArrow i:after {background:@baseWhite;}
    header nav ul li ul.sub-menu li:hover > .wrapBtn .ddArrow i, #menu-top_menu .hideshow .more ~ ul li:hover > .wrapBtn .ddArrow i {color: @baseWhite;}
    header nav ul.menu .hideshow li:hover .wrapBtn {margin:0;}
    header nav ul.menu .hideshow li:hover .wrapBtn  a {margin:0; padding:0; width:100%;}
    #menu-top_menu .hideshow ul {right:0;}
    header nav ul li ul.sub-menu li .ddArrow, #menu-top_menu .hideshow .more ~ ul li .ddArrow{top:0px;}
    header nav ul li ul.sub-menu li .ddArrow i{.transform (@rotate: -90deg ); margin-top:12px;}
    #menu-top_menu .hideshow .more ~ ul li .ddArrow i{.transform (@rotate: 90deg ); margin-top:12px;}
    header nav li.back{ display:none !important;}
}


/* ===Ipad portrait to desktop ===*/
@media (min-width: 768px) {
    .flip { .transform (@rotate: 180deg); }
}

/* ===  Ipad and mobile  === */
@media (max-width: 991px) {
    header, header nav.active { z-index: 999; }
    #navToggle {float: left;display: inline-block;font-size: 24px;vertical-align: top;color: @baseWhite;cursor: pointer; margin-top:11px;}
    #menu-top_menu, .sub-menu {top:60px; margin:0;bottom:0;}
    header nav {.transition (@prop: left, @time: 0.2s);width:245px; top:60px; left:-320px; height:100%; overflow:hidden;position:fixed !important;}
    header nav .container {padding:0;}
    header nav.active {left:0; }
    header nav.active ul.menu{left:0; display:block;}
    header nav.subOpen { width:320px;}
    header nav li { line-height:24px; position:relative;}
    header nav li a {color: @baseColor05; font-weight:normal; text-decoration:none; padding:10px 34px 10px 15px; display:block; font-size:14px;}
    header nav li.current-menu-item a {font-weight:bold;}
    header nav li a:after {content:""; width:93%; height:1px; display:block; background: @baseColor08; position:absolute; left:4px; bottom:0px;}
    header nav li.current-menu-parent {background:lighten(@baseWhite, -13%) ; border:none;}
    header nav ul.menu {.transition (@prop: left, @time: 0.3s);  position:fixed; background: @baseWhite; width:245px; left:-245px;border-right:1px solid lighten(@baseBlack, 50%); }
    header nav ul.menu > li.current-menu-parent .ddArrow {/*background:darken(@baseWhite, 9.5%) ;*/border:none;}
    header nav ul.menu > li .sub-menu {z-index:6; display:none;  background:@baseColor04;position:fixed; left:74px;  width:245px;   box-shadow:1px 4px 6px 4px rgba(0,0,0,0.4); .transition (@prop: left, @time: 0.3s, @ease: linear)}
    header nav ul.menu > li .sub-menu.open  {left:0px; width:320px;}
    header nav ul.menu > li .sub-menu .sub-menu {left:74px;}
    header nav ul.menu  li.active > .sub-menu{ display:block;}
    header nav ul.menu > li.active .sub-menu li {width:100%; overflow:hidden}
    header nav ul.menu li.active > .wrapBtn a { background: @baseColor01; color:@baseWhite;}
    header nav ul.menu > li .back a{color:@baseBlack !important;}
    header nav li.back {background: darken(@baseWhite,3%); }
    header nav li.back a {text-indent: 16px; font-weight:bold;}
    header nav li.back .ddArrow {left:0; height:41px; }
    header ul li.back .ddArrow i {.transform (@rotate: 0deg); color: @baseText; margin-top:14px; font-weight:bold; }
    header ul li .ddArrow i {.transform (@rotate: -90deg); margin-top:14px; margin-right:14px;}

    header nav li.back .ddArrow{ border:0;}
    .subOpen #menu-top_menu {width:320px;}

    #overlayNav { position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 998;}

}

/* === Mobile ===*/
@media (max-width: 767px) {
    #menu-top_menu, .sub-menu{ bottom:0; overflow-y:auto; overflow-x:hidden;}
    .ddArrow i:after {background:@baseColor04; }
    header nav li.back .ddArrow{ border:0;}
    header ul li .ddArrow i { margin-top:13px;}
}


/* === iPad: portrait only === */
@media (min-width : 768px) and (max-width : 991px) {

    #menu-top_menu#menu-top_menu .hideshow .more , .sub-menu{ bottom:0; overflow-y:auto; overflow-x:hidden;}
}