/* Mixin */
.transform (@rotate: 0deg, @scale: 1, @skew: 0deg, @translate: 0px, @translateX: 0px) {
    -webkit-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate) translateX(@translateX);
    -moz-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate) translateX(@translateX);
    -o-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate) translateX(@translateX);
    -ms-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate) translateX(@translateX);
    transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate) translateX(@translateX);
}
 
.transition (@prop: all, @time: 1s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}
 