//Latest_News_and_Tips
.Latest_News_and_Tips {
    .sync1 {
        .slick-slide {
            a {
                h2{
                    &.info {width:100%; height:96px; padding-top:9px;}
                }
            }
        }
    }
    .sync2{
        a {background:@baseBlack;}
        .slick-slide{ 
            a span.info { display:none;}
            &:not(:hover):not(.slick-active) a { opacity:0.93;}
            &:hover a:after {content:none;}
            &.slick-active a:after {content:none;}
            &:last-child a { margin-left:2px;}
        }
    }
}


    //bigIconsImageOverlay
    .bigIconsImageOverlay{
        .slide {
            padding:0 19px;
            .overlay{
                padding-top:30px;
            }
        }
    }


    //brand_promotion

    .bigIconsImageOverlay.mobile .slide .overlay .brand { width:50%; float:right; margin:5px 0 8px; text-align:center }


    /* 2nd break desktop */
    @media (min-width : 992px) and (max-width : 1199px) {
        .bigIconsImageOverlay {
            .slide {
                .overlay{ padding-top:15px;}
            }
        }
    }


    /* ===Ipad portrait to desktop ===*/
    @media (min-width: 768px) {
        //Latest_News_and_Tips
       .Latest_News_and_Tips{
           .sync1 {
               .slick-slide{
                a{
                    h2.info { font-size:33px; line-height:37px; }
                }
               }
           }
       }
    }

    /* ===  Ipad and mobile  === */
    @media (max-width: 991px) {
        //bigIconsImageOverlay
        .bigIconsImageOverlay .slide .overlay .brand, .bigIconsImageOverlay.mobile .slide .overlay .brand { width:50%; float:right; margin:5px 0 8px; text-align:center }
    }



    @media (min-width: 992px) {
        .brand_promotion{
            .col-md-5, .col-md-7{
                width:50%;
            }
            .info .wrap{
                height: 104%;
                .heading{
                    margin-bottom: 7px;
                }
            }
        }
    }

    @media (min-width : 768px) and (max-width : 991px) {
        .brand_promotion{

            .col-sm-6{
                width:50%;
            }

        }
    }
    @media (max-width: 767px) {

        //Latest_News_and_Tips
        .topReview{
            .Latest_News_and_Tips {
                .sync1 {
                    .slick-slide{
                        a{
                            h2.info { font-size:20px; height:68px; }
                        }
                    }
                }
            }
        }

        //brand_promotion
        .brand_promotion{
            .col-xs-12{
                width:100%;
            }
            a.expand.visible-mobile{
                margin: 25px 0 -19px;
            }
        }
        /*
        .ProductListSlotsThumbnailAndFacts .ListSlotsContainer .ListSlotsItemBtn{z-index: 9;}
        .ListSlotsItemEnd{z-index: 2;}*/
    }


