body { color: @baseColor05; }
header, .button.social > i { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAMklEQVQYV2NkwA2MGRgYzjLikAdLguSwKYBLYlOAIomuAEMSWQFWSZgCnJK4HInsMWMAAq8HPHo0dQEAAAAASUVORK5CYII=') repeat 0 0 #df3000; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAMklEQVQYV2NkwA2MGRgYzjLikAdLguSwKYBLYlOAIomuAEMSWQFWSZgCnJK4HInsMWMAAq8HPHo0dQEAAAAASUVORK5CYII='), linear-gradient(to top, #aa2a00 0%, #df3000 100%); }
.button.social > i { background-position: 0 -75px; }
header nav ul:not(.sub-menu) > li > .wrapBtn a, header nav ul#menu-top_menu > li.sub > .wrapBtn a { font-size: 16px; }
.brandListNumBonus .bonus a { color: @baseColor02;
	&:hover { color: @baseColor01; }
}
.brandListNumBonus .bullets li:before { background: @baseColor01; }


/*=== Desktop (all sizes) ===*/
@media (min-width: 992px) {
	header nav ul .current-menu-item > .wrapBtn > a, header nav ul#menu-top_menu .current-menu-item.sub > .wrapBtn > .ddArrow > i, header nav ul#menu-top_menu .current-menu-parent.sub > .wrapBtn > .ddArrow > i { color: #fff; }
	header nav ul .current-menu-item, header nav ul .current-menu-parent { border-bottom-color: #fff; }
	.brandListNumberedHorizontal .slider .slide .num span, header nav ul .current-menu-item > .wrapBtn > a, header nav ul .current-menu-parent > .wrapBtn > a {color: #fff; }
}
/*=== Desktop (small screen) ===*/
@media (min-width : 992px) and (max-width : 1199px) {

}
/*=== Tablet (landscape+portrait) and desktop ===*/
@media (min-width: 768px) {

}
/*=== Tablet (portrait) ===*/
@media (min-width : 768px) and (max-width : 991px) {

}
/*=== Smartphone (landscape+portrait) and Tablet (portrait) ===*/
@media (max-width: 991px) {
	.button.social > i {background-position: 0 -52px; }
}
/*=== Smartphone (landscape+portrait) ===*/
@media (max-width: 767px) {

}
/*=== Smartphone (portrait) ===*/
@media screen and (max-width:420px) {

}