.color-base,
.before-color-base:before,
.before-color-base *:before,
.after-color-base:after,
.after-color-base *:after {
  color: #0086ff;
}
.border-base {
  border-color: #0086ff;
}
.bg-base,
.before-bg-base:before,
.before-bg-base *:before,
.after-bg-base:after,
.after-bg-base *:after {
  background: #0086ff;
}
.bg-baseSecond {
  background: #ffde00;
}
.border-baseSecond {
  border-color: #ffde00;
}
.color-baseSecond,
.before-color-baseSecond:before,
.before-color-baseSecond *:before,
.after-color-baseSecond:after,
.after-color-baseSecond *:after {
  color: #ffde00;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  text-decoration: none;
  color: #0086ff;
  font-weight: normal;
  clear: both;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}
h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 12px 0 0;
}
h2 {
  font-size: 18px;
  padding: 22px 0 5px;
  margin: 0;
}
h3 {
  font-size: 16px ;
  padding: 5px 0;
  margin: 0;
}
.clear {
  clear: both ;
}
p {
  margin: 0.7em 0;
}
a {
  color: #0086ff;
}
a:hover,
a:focus {
  color: #0086ff;
  text-decoration: underline;
}
.btn {
  background: #03bf34;
}
.btn:hover {
  background: #00e53c;
}
.rating {
  color: #f0c030;
  font-size: 17px;
}
section.color {
  background: #ebedef;
  /* padding:25px 0; */
  padding-bottom: 25px;
  padding-top: 10px;
}
section.color > .container > *:first-child {
  margin-top: 0;
  padding-top: 0;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
.WYSIWYG:after {
  content: "";
  display: table;
  clear: both;
}
.bullets {
  position: relative;
  padding-left: 15px;
}
.bulletsBefore {
  content: "";
  width: 7px ;
  height: 7px;
  border-radius: 50%;
  margin-top: 7px;
  border: none;
  display: block;
  background: #ffde00;
  position: absolute;
  left: 0;
  top: 0;
}
.WYSIWYG ol {
  counter-reset: numbers;
  list-style: none;
  padding: 0;
}
.WYSIWYG ol > li {
  position: relative;
  padding-left: 15px;
}
.WYSIWYG ol > li:before {
  counter-increment: numbers;
  content: "" counter(numbers) ".";
  font-size: 14px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.WYSIWYG ul li {
  position: relative;
  padding-left: 15px;
}
.WYSIWYG ul li:not(:first-child) {
  margin-top: 0.6em;
}
.WYSIWYG ul li:before {
  content: "";
  width: 7px ;
  height: 7px;
  border-radius: 50%;
  margin-top: 7px;
  border: none;
  display: block;
  background: #ffde00;
  position: absolute;
  left: 0;
  top: 0;
}
.WYSIWYG iframe {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
header {
  background: #0086ff;
  border-bottom: 6px solid #ffde00;
}
#breadcrumbsWrap {
  width: 90%;
}
#breadcrumbs {
  overflow: hidden;
  padding: 11px 0 0;
  position: relative;
  z-index: 2;
  height: 24px;
}
#breadcrumbs ul.breadcrumbs ul {
  height: 15px;
}
#breadcrumbs li {
  display: block;
  float: left;
  font-size: 11px;
  line-height: 12px;
  text-transform: capitalize;
}
#breadcrumbs li a {
  color: #3e3f3f;
}
#breadcrumbs li:not(:last-child):after {
  content: ">";
  margin: 0 .4em;
  display: inline-block;
  text-decoration: none;
}
.button.social {
  width: 36px;
  height: 37px;
  z-index: 1;
  float: right;
  line-height: 33px;
  font-size: 23px;
  padding: 0;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.button.social > i {
  font-size: 21px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 53px 11px 8px 8px;
  background: #0086ff;
}
.button.social:not(ul) {
  color: #ffffff;
}
.button.social ul {
  position: absolute;
  right: 50%;
  text-align: center;
  top: -99px;
  -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(50%);
  -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(50%);
  -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(50%);
  -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(50%);
  transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(50%);
  -webkit-transition: top 0.2s linear;
  -moz-transition: top 0.2s linear;
  -o-transition: top 0.2s linear;
  -ms-transition: top 0.2s linear;
  transition: top 0.2s linear;
  z-index: -1;
  padding: 0;
}
.button.social:not(.mobile):hover ul,
.button.social.open ul {
  top: 37px;
  padding-top: 3px;
}
.button.social ul > li {
  height: 31px;
  width: 31px;
  display: block;
  margin-top: 3px;
}
.button.social ul li i {
  color: #ffffff;
}
.button.social ul li:before {
  content: none;
}
.button.social ul li.gp {
  background: #db4437;
}
.button.social ul li.face {
  background: #3b5998;
}
.button.social ul li.tw {
  background: #55acee;
}
.button.social ul li.rss {
  background: #ffa500;
}
#sidebar {
  padding: 30px 0 0 ;
}
#sidebar .widget {
  float: left;
}
#sidebar h3 {
  font-size: 18px;
  color: #0086ff;
  border-left: 4px solid #ffde00;
  padding-left: 10px;
  margin-bottom: 12px;
  padding-top: 0;
  padding-bottom: 0;
}
.widget.articleList ol li {
  line-height: 12px;
  position: relative;
  padding-left: 15px;
}
.widget.articleList ol li:before {
  content: "";
  width: 7px ;
  height: 7px;
  border-radius: 50%;
  margin-top: 7px;
  border: none;
  display: block;
  background: #ffde00;
  position: absolute;
  left: 0;
  top: 0;
}
.widget.articleList ol li > a {
  border: none;
  padding: 3px 0;
}
.widget.newsList ul {
  margin: 0;
}
.widget.newsList ul li a {
  position: relative;
  padding-left: 15px;
  padding-left: 0;
}
.widget.newsList ul li a:before {
  content: "";
  width: 7px ;
  height: 7px;
  border-radius: 50%;
  margin-top: 7px;
  border: none;
  display: block;
  background: #ffde00;
  position: absolute;
  left: 0;
  top: 0;
  left: -16px;
  top: 7px;
}
.widget.newsList ul li:first-child a:before {
  top: -3px;
}
.widget.newsList ul li p {
  margin: 0;
}
.widget.newsList ul li time {
  display: none;
}
.widget-title {
  font-size: 20px;
  padding: 22px 0 5px;
  margin: 0;
  color: #0086ff;
  font-weight: normal;
  text-decoration: none;
  clear: both;
}
footer {
  background: #0086ff;
  padding-top: 30px;
  padding-bottom: 15px;
  clear: both;
}
footer,
footer a,
footer a.focus,
footer a.active {
  color: #ffffff !important;
  font-size: 12px;
}
footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}
footer .logo {
  margin-bottom: 25px;
}
footer .author {
  float: none;
}
footer .author .fa-google-plus {
  background: #db4437;
  width: 16px;
  height: 16px;
  display: inline-block;
  line-height: 16px;
  text-align: center;
  margin-right: 5px;
}
footer .contactUs span {
  text-decoration: underline;
  margin-left: 5px;
}
.shareBtns {
  overflow: hidden;
}
.shareBtns li.share {
  margin-right: 2px;
}
.shareBtns li {
  float: left;
  padding: 0 4px 0 0;
}
.shareBtns li:not(.share) {
  margin-top: 4px;
}
.shareBtns li:not(.share) a {
  width: 16px;
  height: 16px;
  line-height: 18px;
}
.shareBtns li a i {
  font-size: 13px;
  line-height: 16px;
}
.shareBtns,
footer .author,
footer .contactUs,
footer .copyright {
  margin: 3px 0;
}
footer .row > div {
  padding: 0;
}
footer .disclaimer {
  margin-top: 15px;
  font-size: 11px;
  color: #ffffff;
  opacity: 0.75;
}
footer .disclaimer a {
  color: #ffffff;
  text-decoration: underline;
}
footer .contactUs i:hover {
  text-decoration: none;
}
#menu-footer a {
  color: #ffffff;
}
#menu-footer > li .sub-menu {
  margin-top: 15px;
}
.iconIntro {
  float: left;
  margin-right: 15px;
  margin-top: 6px;
}
.newsItemsLinks {
  width: 100%;
  float: left;
  margin-bottom: 21px;
}
.newsItemsLinks .info {
  background: rgba(0, 134, 255, 0.8);
  height: 49px;
  border-top: 3px solid #ffde00;
  text-align: left;
  padding: 8px 11px;
  font-weight: bold;
}
.newsItemsLinks li {
  padding: 0 11px;
  margin-bottom: 0;
}
.newsItemsLinks li:nth-child(n+5) {
  margin-top: 25px;
}
.newsItemsLinks li:first-child,
.newsItemsLinks li:nth-child(4n+1) {
  padding: 0 11px 0 0;
}
.newsItemsLinks li:nth-child(4n) {
  padding: 0 0 0 11px ;
}
.newsItemsLinks li:hover .info {
  text-decoration: underline;
}
.newsItemsLinks .brand a {
  background: #ffffff;
}
.newsItemsLinks .brand .rating {
  line-height: 40px;
  font-size: 19px;
}
.bannerConv {
  margin-top: 15px;
}
.topReview {
  position: relative;
}
.topReview .author {
  position: absolute;
  right: 6px;
  top: 7px;
  font-size: 11px;
}
.topReview .title {
  font-size: 18px;
  color: #0086ff;
  height: 33px;
  line-height: 30px;
}
.topReview .WYSIWYG {
  clear: both;
  margin-top: 10px;
  float: left;
}
.topReview .expand {
  padding: 0;
}
.brandName {
  font-weight: 400 !important;
}
.topReview .brandDetails {
  padding-left: 0;
}
.topReview .brandDetails .brand {
  text-align: center;
  display: block;
  border-top: 1px solid #0086ff;
  padding-top: 10px;
}
.topReview .brandDetails .brand > span {
  padding: 0;
}
.topReview .brandDetails .brand img {
  margin: 0 auto;
  max-width: 100%;
}
.topReview .brandDetails .brand .btn {
  clear: both;
  font-size: 31px;
  height: 65px;
}
.topReview .brandDetails .brand .rating {
  line-height: 40px;
  font-size: 19px;
}
.topReview .brandDetails .bonus {
  font-size: 19px;
  text-align: center;
  font-weight: bold;
  color: #0086ff;
  background: #ebedef;
  margin-top: 11px;
  height: 45px;
  line-height: 44px;
}
.topReview .brandDetails .info {
  padding-top: 11px;
  border-top: 1px solid #ababab;
}
.topReview .brandDetails .info .readMore > ul > li {
  line-height: 23px;
}
.topReview .brandDetails .info .readMore > ul > li span {
  font-weight: 600;
  page-break-after: right;
}
.topReview .brandDetails .info ul.payments li {
  width: 36px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
.topReview .brandDetails .info ul.payments li img {
  max-width: 100%;
}
.expand i:after,
.expand .fa:before {
  float: right;
}
.moreDetails {
  padding-right: 0;
  line-height: 18px;
}
.moreDetails > .row > div {
  padding: 0;
}
.prosCons .title:before {
  content: "";
  background: url('../../images/proscons.png') no-repeat 0 0;
  width: 33px;
  height: 30px;
  display: block;
  float: left;
  margin-right: 4px;
}
.prosCons .pros,
.prosCons .cons {
  margin-bottom: 15px;
}
.prosCons .pros .title,
.prosCons .cons .title {
  font-size: 16px;
}
.prosCons .pros li,
.prosCons .cons li {
  position: relative;
  padding-left: 15px;
  line-height: 23px;
}
.prosCons .pros li:before,
.prosCons .cons li:before {
  content: "";
  width: 7px ;
  height: 7px;
  border-radius: 50%;
  margin-top: 7px;
  border: none;
  display: block;
  background: #ffde00;
  position: absolute;
  left: 0;
  top: 0;
  margin-right: 5px;
  top: -1px;
}
.prosCons .cons .title:before {
  background-position: 0 -30px;
}
.moreDetails .more .title {
  margin-bottom: 0;
}
.moreDetails .more p {
  margin-top: 0;
}
.ratingDetails ul {
  float: left;
  display: block;
  width: 100%;
}
.ratingDetails ul li {
  margin-bottom: 5px;
  line-height: 20px;
  display: block;
}
.ratingDetails ul li span {
  width: 70%;
  float: left;
}
.ratingDetails ul li .rating {
  display: inline-block;
  width: 30%;
  float: left;
}
.topReview .slider {
  padding: 0 5px;
}
.product .top > div {
  padding: 0;
}
.product .top > div:first-child {
  margin-top: 13px;
}
.product .top .image {
  padding: 0;
}
.product .top .image img {
  width: 100%;
}
.product .top .info {
  text-align: center;
}
.product .top .info .rating {
  margin-bottom: 18px;
  font-size: 20px;
}
.product .top .info .rating .desc {
  color: #0086ff;
  font-size: 14px;
  margin-top: 5px;
}
.product .top .info .bonus {
  font-size: 29px;
  font-weight: bold;
  color: #0086ff;
  line-height: 34px;
  margin-bottom: 28px;
}
.product .top .visit {
  float: right;
}
.product .top .visit:hover a {
  text-decoration: none;
}
.product .top .visit .btn {
  height: 52px;
  font-size: 20px;
  padding: 0 5px;
  font-weight: normal;
}
.product .top .visit .btn .play {
  font-size: 25px;
  font-weight: bold;
  margin-right: 2px;
}
.productAttr ul {
  margin-top: 7px;
}
.productAttr ul li {
  position: relative;
  padding-left: 15px;
}
.productAttr ul li span {
  font-weight: bold;
}
.productAttr ul li:before {
  content: "";
  width: 7px ;
  height: 7px;
  border-radius: 50%;
  margin-top: 7px;
  border: none;
  display: block;
  background: #ffde00;
  position: absolute;
  left: 0;
  top: 0;
}
#GameCont {
  width: 58.333%;
}
.catImg {
  float: left;
  margin: 0 12px 12px 0;
}
.catImg + .WYSIWYG > ul {
  display: table;
}
.articleNews .imgWrap {
  float: left;
  margin: 14px 15px 5px 0;
  font-size: 12px;
  color: #A9A9A9;
  border-bottom: 1px solid #a9a9a9;
  padding-bottom: 5px;
}
.articleNews .imgWrap img {
  margin-bottom: 8px;
}
.articleNews .imgWrap .date {
  margin-bottom: 7px;
  margin-left: 5px;
}
.articleNews .imgWrap .date i {
  margin-right: 3px;
  font-size: 14px;
}
.articleNews .imgWrap .shareBtns {
  margin-left: 3px;
}
.articleNews .imgWrap .shareBtns li {
  margin-top: 0;
}
.articleNews .imgWrap .shareBtns li a {
  width: 24px;
  height: 24px;
}
.articleNews .imgWrap .shareBtns li a i {
  font-size: 20px;
  line-height: 25px;
}
.articleNews .imgWrap + .WYSIWYG ul {
  display: table;
}
.newsArchive h1 {
  margin-bottom: 20px;
}
.newsArchive ul li {
  margin-bottom: 24px;
  color: #3e3f3f;
  font-size: 14px;
}
.newsArchive ul li h2 {
  padding: 0 0 10px 0;
}
.newsArchive ul li .image {
  padding: 0;
}
.newsArchive ul li .image img {
  max-width: 100%;
}
.newsArchive ul li p {
  color: #3e3f3f;
}
.newsArchive ul li .date {
  color: #a9a9a9;
  font-size: 12px;
}
.newsArchive ul li .date i {
  font-size: 14px;
}
.newsArchive ul li .link {
  color: #a9a9a9;
  font-size: 13px;
  position: relative;
  margin-top: 20px;
}
.newsArchive ul li .link:after {
  content: " >";
  position: absolute;
  right: -11px;
  top: 1px;
}
.newsArchive ul li .link:after {
  content: " >";
  position: absolute;
  right: -11px;
  top: 1px;
}
.post-archive .page-title {
  padding-left: 20px;
  margin-bottom: 15px;
  display: inline-block;
  margin-top: 30px;
}
.post-archive .shareBtns li a i {
  font-size: 39px !important;
}
.post-archive .posts {
  display: flex;
  flex-wrap: wrap;
}
.post-archive .posts .loading {
  margin: 0 auto 20px;
  color: #a9a9a9;
  width: 100%;
  text-align: center;
}
.post-archive .posts .loading .fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 1.2s infinite linear;
}
.post-archive .posts .single-post {
  margin-bottom: 20px;
}
.post-archive .posts .single-post:before {
  content: "";
  position: absolute;
  display: block;
  top: 100%;
  left: 15px;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #dcdcdc;
}
.post-archive .posts .single-post .post-link:hover {
  text-decoration: none;
}
.post-archive .posts .single-post .post-link:hover .title {
  text-decoration: underline;
}
.post-archive .posts .single-post .post-link span {
  display: block;
}
.post-archive .posts .single-post .post-link span .main-image {
  width: 100%;
  border-bottom: 3px solid #0086ff;
}
.post-archive .posts .single-post .post-link span.title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
  padding-right: 5px;
}
.post-archive .posts .single-post .post-link .date {
  text-align: right;
  color: #a9a9a9;
  margin-top: 3px;
  margin-bottom: 0;
}
.post-archive .posts .single-post .post-link .date i {
  margin-right: 12px;
}
.post-archive .posts .single-post .tags .tag {
  display: inline-block;
  margin-bottom: 7px;
  margin-right: 4px;
}
.post-archive .posts .single-post .tags .tag a {
  background-color: #0086ff;
  color: #ffffff;
  padding: 1px 10px;
  font-weight: 400;
  line-height: 18px;
}
.post-archive .posts .single-post .tags .tag a:hover {
  text-decoration: none;
  background-color: #005099;
}
.wp-pagenavi {
  margin-top: 44px;
}
.wp-pagenavi ul li {
  margin-bottom: 0;
}
.wp-pagenavi ul li:first-child {
  float: none;
}
.wp-pagenavi ul li a,
.previouspostslink ul li span,
.wp-pagenavi a.first,
.wp-pagenavi .page-numbers,
.newsArchive .wp-pagenavi ul li,
.wp-pagenavi .larger.page,
.newsArchive .wp-pagenavi .smaller.page,
.wp-pagenavi a.first,
.wp-pagenavi ul li.current span {
  color: #a9a9a9;
  font-size: 16px;
}
.wp-pagenavi ul li a.previouspostslink,
.wp-pagenavi ul li a.nextpostslink {
  background: none;
  line-height: 20px;
}
.wp-pagenavi ul li a.previouspostslink:before,
.wp-pagenavi ul li a.nextpostslink:before {
  color: #a9a9a9;
  font-size: 16px;
}
.wp-pagenavi ul li.current,
.wp-pagenavi ul li.current .active {
  font-size: 18px;
  color: #0086ff;
  font-weight: bold;
}
.wp-pagenavi ul li a.nextpostslink:before {
  content: "\f105";
}
.wp-pagenavi ul li a.previouspostslink:before {
  content: "\f104";
}
.wp-pagenavi a,
.wp-pagenavi span {
  margin: 0 !important;
}
.wp-pagenavi ul li,
.wp-pagenavi .larger.page,
.wp-pagenavi .smaller.page,
.wp-pagenavi a.first {
  margin: 0;
}
.wp-pagenavi ul li a:hover,
.previouspostslink ul li.current span,
.wp-pagenavi .larger.page:hover,
.wp-pagenavi .smaller.page:hover {
  color: #0086ff;
}
body[data-page-type="blog_posts"] .shareBtns {
  text-align: right;
  margin-top: 12px;
}
body[data-page-type="blog_posts"] .shareBtns li {
  float: none;
  display: inline-block;
}
body[data-page-type="blog_posts"] .shareBtns li:not(.share) {
  margin: 0 2px;
  padding: 0;
}
body[data-page-type="blog_posts"] .shareBtns li:not(.share) a {
  width: auto;
  height: auto;
  line-height: 1;
  background: none;
}
body[data-page-type="blog_posts"] .shareBtns li:not(.share) a i {
  font-size: 32px;
  line-height: 1;
  vertical-align: middle;
}
body[data-page-type="blog_posts"] .shareBtns li:not(.share) a i.fa-facebook-square {
  color: #3b5998;
}
body[data-page-type="blog_posts"] .shareBtns li:not(.share) a i.fa.fa-google-plus-square {
  color: #dd4b39;
}
body[data-page-type="blog_posts"] .shareBtns li:not(.share) a i.fa.fa-twitter-square {
  color: #55acee;
}
body[data-page-type="blog_posts"] .shareBtns li:not(.share) a i.fa.fa-pinterest-square {
  color: #ca2026;
}
body[data-page-type="blog_posts"] .shareBtns li.share {
  font-size: 15px;
  text-transform: uppercase;
}
body[data-page-type="blog_posts"] img.post_img {
  width: 100%;
  margin: 15px 0;
}
body[data-page-type="blog_posts"] .WYSIWYG {
  line-height: 1.5714285714285714285714285714286;
  margin: 0 0 25px;
}
body[data-page-type="blog_posts"] ul.cat_tags {
  margin: 20px 0;
  font-size: 0;
}
body[data-page-type="blog_posts"] ul.cat_tags li {
  display: inline-block;
  margin: 0 8px 8px 0;
  font-size: 14px;
}
body[data-page-type="blog_posts"] ul.cat_tags li a {
  color: #fff;
  background: #0086ff;
  display: inline-block;
  line-height: 21px;
  padding: 0 8px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
body[data-page-type="blog_posts"] ul.cat_tags li a:hover {
  background: #005099;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
body[data-page-type="blog_posts"] #sidebar {
  padding: 15px 0 0;
}
body[data-page-type="blog_posts"] #sidebar .widget {
  width: auto;
}
body[data-page-type="blog_posts"] #sidebar .widget a:not(.btn):hover {
  color: #0086ff;
}
body[data-page-type="blog_posts"] #sidebar .widget.large_thumbnails img {
  border-bottom: 3px solid #0086ff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
body[data-page-type="blog_posts"] #sidebar .widget.large_thumbnails img:hover {
  -webkit-filter: brightness(1.1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
body[data-page-type="blog_posts"] #sidebar .widget.large_thumbnails h4 {
  color: #0086ff;
}
.error-404-container {
  line-height: 35px;
  text-align: center;
}
.error-404-container section.color {
  padding: 100px 35%;
  margin: 20px 0;
}
.error-404-container h1 {
  font-size: 38px;
  margin: 20px 0;
  font-weight: bold;
  line-height: 40px;
}
.error-404-container .subtitle {
  font-weight: bold;
  font-size: 19px;
  color: #3e3f3f;
  line-height: 24px;
  margin-bottom: 35px;
}
.error-404-container a {
  margin: 20px 0;
  font-size: 14px;
  text-decoration: underline;
  display: block;
}
.redirect-page-container section.color {
  padding: 100px 35%;
  margin: 20px 0;
  text-align: center;
}
.redirect-page-container h3 {
  font-size: 31px;
  font-weight: bold;
  line-height: 34px;
}
.redirect-page-container p {
  margin: 30px 0;
  font-size: 16px;
  font-weight: 600;
}
.redirect-page-container .redirect-loading {
  font-size: 40px;
  color: #3e3f3f;
}
.WYSIWYG .kwayy-html-sitemap-wrapper ul li {
  display: block;
  line-height: 22px;
}
.WYSIWYG .kwayy-html-sitemap-wrapper ul {
  display: block;
}
.topBrandsColumns li .btn {
  padding: 0 10px;
  margin-right: 0%;
  width: 48%;
}
.topBrandsColumns li a > div {
  text-align: center;
}
/*=== desktop ===*/
@media (min-width: 992px) {
  .container {
    padding: 0;
  }
  header nav {
    /* margin-left: 450px; margin-right: 50px; */
    padding-top: 35px;
    width: 70%;
    float: left;
  }
  .button.social {
    margin-top: 35px;
  }
  .site-logo {
    /*width: 250px;*/
    padding: 0 15px 0 0;
  }
  .site-logo img {
    max-width: 100%;
  }
  .newsItemsLinks a {
    height: 198px;
  }
  .newsItemsLinks .brand a img {
    margin-top: 49px;
  }
  .newsItemsLinks .brand a:hover img {
    margin-top: 42px;
  }
  .ratingDetails {
    border-top: 2px solid #ababab;
    padding-top: 15px;
  }
  .productAttr {
    margin-bottom: 5px;
  }
  .productAttr ul li {
    width: 20%;
  }
  .productAttr ul li:nth-of-type(n+6) {
    margin-top: 10px;
  }
  .articleNews .intro {
    overflow: hidden;
  }
  .newsArchive ul li .image {
    margin-top: 5px;
  }
}
/* 2nd break desktop */
@media (min-width: 992px) and (max-width: 1199px) {
  .newsItemsLinks .brand a img {
    margin-top: 30px;
  }
  .newsItemsLinks .brand a:hover img {
    margin-top: 27px;
  }
  .topReview .brandDetails .info {
    padding-bottom: 5px;
  }
  .topReview .brandDetails .brand .btn {
    height: 54px;
  }
  .topReview .brandDetails .info > ul > li {
    line-height: 21px;
  }
  .topReview .brandDetails .info {
    padding-top: 5px;
  }
  .topReview .ratingDetails ul li {
    margin-bottom: 3px;
  }
}
/* ===Ipad portrait to desktop ===*/
@media (min-width: 768px) {
  #sidebar .widget {
    width: 25%;
  }
  .bannerConv a {
    height: 110px;
  }
  .bannerConv a {
    background: #ffffff;
    border: 1px solid #d7d7d7;
  }
  .bannerConv {
    border: none;
  }
  .bannerConv a .bonus {
    font-size: 35px;
    background: #ffffff;
    color: #3e3f3f;
    padding-left: 38px;
    height: 108px;
  }
  .bannerConv a .visit,
  .bannerConv a .logo {
    background: #ffffff;
  }
  .bannerConv a .logo span {
    float: left;
    padding-left: 15px;
    height: 100%;
    background: none;
  }
  .bannerConv a .logo span:nth-child(2) {
    padding-left: 19px;
  }
  .bannerConv a .logo span img {
    margin-top: 5px;
  }
  .bannerConv a .logo span:first-child {
    display: block;
    float: none;
    position: absolute;
    height: 110px;
    left: 105%;
    top: 0;
  }
  .bannerConv a .logo span:first-child:after,
  .bannerConv a .logo span:first-child:before {
    content: "";
    transform: skew(34deg);
    -webkit-transform: skew(34deg);
    -moz-transform: skew(34deg);
    -o-transform: skew(34deg);
    -ms-transform: skew(34deg);
    width: 27px;
    height: 50%;
    background: #0086ff;
    top: 0;
    left: auto;
    right: 0;
    border-radius: 0;
    position: absolute;
    display: block;
    z-index: 1;
  }
  .bannerConv a .logo span:first-child:after {
    top: 50%;
    transform: skew(-34deg);
    -webkit-transform: skew(-34deg);
    -moz-transform: skew(-34deg);
    -o-transform: skew(-34deg);
    -ms-transform: skew(-34deg);
  }
  .catTitle ~ a ~ .WYSIWYG h2,
  .catTitle ~ a ~ .WYSIWYG h3 {
    display: inline-block;
    padding-top: 0;
  }
  h1.catTitle {
    position: relative;
    padding-left: 42px;
    margin-bottom: 17px;
    margin-top: 10px;
  }
  h1.catTitle:before {
    content: "";
    position: absolute;
    left: 0;
    top: -4px;
    background: url('../../images/category_icons.png') -1px 0 no-repeat #0086ff;
    width: 38px;
    height: 38px;
    display: block;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  h1.catTitle.slots:before {
    background-position: -1px 0px;
  }
  h1.catTitle.roulette:before {
    background-position: -1px -38px;
  }
  h1.catTitle.blackJack:before {
    background-position: -1px -76px;
  }
  h1.catTitle.videoPoker:before {
    background-position: -1px -114px;
  }
  h1.catTitle.craps:before {
    background-position: -1px -152px;
  }
  h1.catTitle.baccara:before {
    background-position: -1px -190px;
  }
  h1.catTitle.keno:before {
    background-position: -1px -228px;
  }
  h1.catTitle.poker:before {
    background-position: -1px -266px;
  }
  h1.catTitle.general:before {
    background-position: -1px -304px;
  }
  h1.catTitle.lotto:before {
    background-position: -1px -342px;
  }
  h1.catTitle.bingo:before {
    background-position: -1px -380px;
  }
  h1.catTitle.mobile:before {
    background-position: -1px -418px;
  }
  h1.catTitle.sportsBetting:before {
    background-position: -1px -456px;
  }
  h1.catTitle.payment:before {
    background-position: -1px -494px;
  }
  h1.catTitle.software:before {
    background-position: -1px -532px;
  }
  h1.catTitle.tax:before {
    background-position: -1px -570px;
  }
  h1.catTitle.law:before {
    background-position: -1px -608px;
  }
  h1.catTitle.liveCasino:before {
    background-position: -1px -646px;
  }
  h1.catTitle.bonus:before {
    background-position: -1px -684px;
  }
  h1.catTitle.dollar:before {
    background-position: -1px -720px;
  }
  .articleNews .imgWrap ~ .WYSIWYG h2,
  .articleNews .imgWrap ~ .WYSIWYG h3 {
    display: inline-block;
    padding-top: 10px;
  }
}
/* === iPad: portrait only === */
@media (min-width: 768px) and (max-width: 991px) {
  .site-logo {
    padding: 0;
  }
  .widget.articleList ol li p {
    font-weight: normal;
  }
  #sidebar .widget {
    width: 50%;
  }
  .bannerConv a .bonus {
    font-size: 25px;
    padding-left: 31px;
    padding-right: 5px;
  }
  .bannerConv a .logo {
    width: 27%;
    margin-right: 6%;
  }
  .bannerConv a .logo span img {
    margin-top: 8px;
  }
  .bannerConv a .logo span:nth-child(2) {
    padding-left: 5px;
  }
  .bannerConv a .logo span:first-child {
    left: 101%;
  }
  .newsItemsLinks a {
    height: 120px;
  }
  .newsItemsLinks .brand a img {
    margin-top: 28px;
  }
  .newsItemsLinks .brand a:hover img {
    margin-top: 26px;
  }
  .topReview .moreDetails {
    padding: 0;
    margin-top: 20px;
  }
  .topReview .ratingDetails {
    padding-left: 0;
    padding-right: 31px !important;
  }
  .topReview .reasons {
    padding-left: 7px !important;
  }
  .product .top .info {
    text-align: left;
  }
  .product .top .info .rating {
    text-align: left;
  }
  .product .top .info .rating .desc {
    margin-top: 0;
  }
  .product .top .info .bonus {
    margin-bottom: 18px;
  }
  .product .top .visit .btn {
    height: 45px;
    /*font-size:15px;*/
    display: inline-block;
    padding: 0 15px;
  }
  .productAttr ul li {
    min-height: 40px;
  }
  .productAttr ul li:nth-of-type(n+5) {
    margin-top: 10px;
  }
  #GameCont {
    width: 80%;
  }
  .articleNews .imgWrap {
    margin-top: 4px;
  }
  .articleNews .imgWrap ~ .WYSIWYG h2,
  .articleNews .imgWrap ~ .WYSIWYG h3 {
    padding-top: 0px;
  }
  .error-404-container section.color {
    padding: 100px 25%;
  }
  .redirect-page-container section.color {
    padding: 100px 25%;
  }
}
/*=== Desktop (small screen) ===*/
@media (min-width: 992px) and (max-width: 1199px) {
  .bannerConv a .logo span:first-child {
    left: 237px;
  }
  .bannerConv a .bonus {
    padding-left: 65px;
  }
  .newsItemsLinks a {
    height: 160px;
  }
}
/* ===  Ipad and mobile  === */
@media (max-width: 991px) {
  body {
    padding-top: 60px;
  }
  .WYSIWYG iframe {
    width: 100%;
  }
  header {
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
  }
  header .container {
    padding: 0;
  }
  .site-logo {
    text-align: center;
  }
  .site-logo img {
    max-width: 188px;
  }
  .button.social {
    height: 53px;
    width: 47px;
  }
  .button.social > i {
    padding: 18px 11px 14px 14px;
  }
  .button.social:not(.mobile):hover ul,
  .button.social.open ul {
    top: 53px;
    padding-top: 4px;
  }
  footer .disclaimer {
    margin-top: 5px;
  }
  footer {
    padding: 8px 0;
  }
  footer .copyright {
    text-align: center;
  }
  .product .top > div:first-child {
    margin-top: 0px;
  }
  .topReview .brandDetails .brand .btn {
    font-size: 22px;
    height: 49px;
    margin-top: 30px;
    margin-left: 10px;
  }
}
/*=== Smartphone (landscape+portrait) ===*/
@media screen and (max-width: 767px) {
  p {
    margin: 0.5em 0;
  }
  body > .container {
    padding: 0 11px;
  }
  h2 {
    padding: 5px 0 5px;
    line-height: 22px;
  }
  a img.alignleft,
  a img.alignright {
    width: 100%;
    height: inherit;
  }
  header {
    z-index: 9999 !important;
  }
  #sidebar .widget {
    margin-bottom: 17px;
  }
  .expand {
    border-top: none;
    border-bottom-color: #a9a9a9;
  }
  .expand i,
  .expand i:after {
    color: #9C9C9C !important;
  }
  .expand i:after {
    font-size: 13px;
  }
  section.color {
    padding: 12px 0;
  }
  .container.banner {
    margin: 0 -15px;
  }
  .bannerConv a .logo span:first-child {
    display: none;
  }
  .bannerConv a .bonus,
  .bannerConv a .visit {
    background: #ffffff;
  }
  .bannerConv a .bonus {
    font-size: 20px;
    color: #3e3f3f;
    border-top: 1px solid #d7d7d7;
    padding-top: 7px;
  }
  .bannerConv a .visit {
    border-bottom: 1px solid #d7d7d7;
  }
  .bannerConv a .visit .btn {
    height: 40px;
    font-size: 19px;
    margin-top: 11px;
    margin-bottom: 8px;
  }
  .newsItemsLinks .info {
    font-size: 13px;
    padding: 4px 7px;
    height: 38px;
    border-top-width: 1px;
    line-height: 15px;
  }
  .newsItemsLinks li:first-child {
    padding: 0 5px 0 0;
  }
  .newsItemsLinks li:nth-child(even) {
    padding-left: 5px;
  }
  .newsItemsLinks li:nth-child(odd) {
    padding-right: 5px;
  }
  .newsItemsLinks li:nth-child(n+3) {
    margin-top: 10px;
  }
  .topReview .brandDetails .info {
    border: 0;
    margin-top: -10px;
  }
  .topReview .brandDetails .brand .btn {
    margin-top: 5px;
    font-size: 20px;
  }
  .topReview h1 {
    padding: 0 15px;
  }
  .topReview .brandDetails .bonus {
    margin-top: 0;
  }
  .topReview .slider {
    padding: 13px 0;
  }
  .topReview {
    margin: 0 -15px;
    margin-bottom: 15px;
  }
  .topReview .brandDetails {
    padding: 0 15px;
  }
  .topReview .moreDetails {
    padding: 0 15px;
  }
  .topReview .WYSIWYG {
    padding: 0 15px;
  }
  .topReview .readMore {
    clear: both;
    overflow: hidden;
    padding-top: 15px;
  }
  .moreDetails > .row > div {
    overflow: hidden;
    clear: both;
  }
  .bannerConvWrap {
    margin: 0 -15px;
  }
  .post-archive .posts .single-post {
    padding: 0;
  }
  .post-archive .posts .single-post:before {
    left: 0;
    width: calc(100% );
  }
  .post-archive .posts .single-post .post-link span.title {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .post-archive .posts .single-post .post-link .date {
    display: none;
  }
  .product .top .info {
    padding: 0 0 0 10px;
  }
  .product .top .info .bonus {
    font-size: 18px;
    line-height: 18px;
  }
  .product .top .visit {
    margin-top: 10px;
    padding: 0;
  }
  .product .top .visit .btn {
    height: 43px;
    font-size: 18px;
  }
  .product .top .visit .btn .play {
    font-size: 20px;
  }
  #GameCont {
    display: none;
  }
  .product .top .info .bonus {
    margin-bottom: 0;
    line-height: 20px;
  }
  .productAttr {
    margin-bottom: 0;
  }
  .productAttr ul li {
    margin-bottom: 15px;
  }
  .articleNews .imgWrap {
    width: 100%;
    margin-top: 3px;
  }
  .articleNews .imgWrap img {
    max-width: 100%;
  }
  .articleNews .WYSIWYG {
    clear: both;
  }
  .newsArchive h1 {
    margin-bottom: 15px;
  }
  .newsArchive ul li .bottom {
    padding: 0;
  }
  .newsArchive ul li h2 {
    font-size: 14px;
    line-height: 16px;
  }
  .newsArchive ul li .link {
    text-align: right;
    display: block;
    padding-right: 15px;
    margin-top: -5px;
    border-bottom: 1px solid #a9a9a9;
  }
  .newsArchive ul li .link:after {
    right: 0;
  }
  .wp-pagenavi {
    margin-top: 30px;
  }
  .wp-pagenavi {
    text-align: center;
  }
  .error-404-container section.color {
    padding: 50px 5% 100px;
  }
  .redirect-page-container section.color {
    padding: 50px 5% 100px;
  }
  .brandListNumBonus .btn {
    height: 46px;
    margin: 10px 0px 0 6px;
  }
  .widget ul li:first-child > a {
    padding-top: 0px !important;
  }
}
header nav {
  z-index: 10;
}
header nav .hideshow ul {
  position: absolute;
}
header nav .hideshow .more {
  font-size: 8px;
  line-height: 40px;
  color: #ffffff;
}
header nav ul li ul li a {
  float: left;
  clear: both;
  width: 100%;
}
header nav {
  font-weight: bold;
}
header nav a {
  text-transform: capitalize;
}
.ddArrow {
  width: 34px;
  height: 100%;
  position: absolute;
  right: -4px;
  top: 0px;
}
.ddArrow i {
  -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(0px);
  -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(0px);
  -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(0px);
  -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(0px);
  transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(0px);
  font-size: 16px;
  color: #0086ff;
}
header ul li .ddArrow {
  display: block;
  /*background: lighten( @baseColor04, 11%)*/
  position: absolute;
  right: 0px;
  top: 0;
}
header ul li .ddArrow i {
  -webkit-transform: rotate(-90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
  -moz-transform: rotate(-90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
  -o-transform: rotate(-90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
  -ms-transform: rotate(-90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
  transform: rotate(-90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
  float: right;
  margin-right: 11px;
  margin-top: 7px;
}
.noScroll {
  position: fixed;
  top: -47px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
/*=== desktop ===*/
@media (min-width: 992px) {
  header nav ul {
    margin: 0;
    text-align: right;
    font-size: 0;
  }
  header nav ul.menu > li {
    height: 37px;
  }
  header nav > ul > li > .wrapBtn > .ddArrow {
    background: none;
    top: 1px;
  }
  header nav > ul > li > .wrapBtn > .ddArrow i {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(0px);
  }
  header nav ul > li {
    min-width: 70px;
    line-height: 31px;
    display: inline-block;
    text-align: center;
    position: relative;
    text-transform: capitalize;
  }
  header nav ul.menu.desktop li:hover > ul.sub-menu,
  header nav ul.menu li.active > ul.sub-menu,
  ul.menu.desktop .hideshow li:hover > ul.sub-menu,
  ul.menu.desktop .hideshow:hover > ul,
  ul.menu .hideshow.active > ul {
    display: block;
  }
  header nav:not(.mobileDevice) ul.menu.desktop > li:not(.hideshow):hover > .wrapBtn,
  header nav ul.menu > li.active > .wrapBtn,
  ul.menu.desktop .hideshow:hover > .more,
  ul.menu .hideshow.active > .more {
    min-width: 65px;
    color: #0086ff;
    text-decoration: none;
    background: #ebedef;
  }
  header nav:not(.mobileDevice) ul.menu.desktop > li:not(.hideshow):hover > .wrapBtn a,
  header nav ul.menu > li.active > .wrapBtn a,
  header nav:not(.mobileDevice) ul.menu.desktop > li.current-menu-item:not(.hideshow):hover > .wrapBtn a,
  header nav ul#menu-top_menu.menu.desktop > li.sub:not(.hideshow):hover > .wrapBtn .ddArrow i,
  header nav ul#menu-top_menu > li.sub.active > .wrapBtn .ddArrow i {
    color: #0086ff;
  }
  header nav ul:not(.sub-menu) > li > .wrapBtn a {
    min-height: 31px;
    font-size: 14px;
    text-decoration: none;
    margin: 3px 7px 3px 7px;
  }
  header nav ul li .wrapBtn a {
    color: #fff;
  }
  header nav ul .current-menu-item,
  header nav ul .current-menu-parent {
    border-bottom: 2px solid #ffde00;
  }
  header nav ul .current-menu-item > .wrapBtn > a,
  header nav ul .current-menu-parent > .wrapBtn > a {
    background: none;
    color: #ffde00;
  }
  header nav ul .current-menu-item > .wrapBtn > a {
    color: #ffde00;
  }
  header nav > ul > .current-menu-item:hover > .wrapBtn > a,
  header nav > ul > .current-menu-item:hover > .wrapBtn > .ddArrow > i {
    color: #fff;
  }
  header nav ul#menu-top_menu > li.sub > .wrapBtn a {
    margin: 3px 25px 3px 7px;
  }
  header nav ul#menu-top_menu > li.sub > .wrapBtn .ddArrow i {
    color: #fff;
  }
  header nav ul#menu-top_menu .current-menu-item.sub > .wrapBtn > .ddArrow > i,
  header nav ul#menu-top_menu .current-menu-parent.sub > .wrapBtn > .ddArrow > i {
    color: #ffde00;
  }
  header nav ul#menu-top_menu > li.sub > .wrapBtn .ddArrow i:after {
    background: none;
  }
  header > nav ul.menu > li:not(.hideshow) > .wrapBtn > a:hover {
    text-decoration: none;
    color: #ffffff !important;
  }
  header nav ul li ul.sub-menu,
  header nav ul li ul.sub-menu ul.sub-menu,
  ul.menu .hideshow ul {
    display: none;
    background: #ebedef;
    position: absolute;
    top: 100%;
    z-index: 9999999;
  }
  header nav ul li ul.sub-menu ul.sub-menu {
    right: -100%;
    left: inherit;
    top: 0;
  }
  #menu-top_menu .hideshow .more ~ ul ul {
    left: -100%;
    top: 0;
  }
  #menu-top_menu .hideshow .more ~ ul li .ddArrow {
    left: 0;
  }
  header nav ul li ul.sub-menu {
    left: 0;
  }
  header nav ul li ul.sub-menu,
  #menu-top_menu .hideshow ul {
    min-width: 235px;
    width: 100%;
  }
  header nav ul li ul.sub-menu li,
  #menu-top_menu .hideshow ul li {
    float: left;
    min-height: 39px;
    padding: 0;
    min-width: 150px;
    width: 100%;
    line-height: 30px;
  }
  header nav ul li ul.sub-menu li a,
  #menu-top_menu .hideshow ul li a {
    color: #3e3f3f;
    margin: 0;
    display: block;
    min-height: 39px;
    font-size: 14px;
    text-decoration: none;
    text-align: left;
    padding: 2px 33px 2px 12px;
    font-weight: normal;
  }
  header nav ul li ul.sub-menu li ul.sub-menu li:last-child a:after {
    content: none;
  }
  header nav ul li ul.sub-menu li:not(:last-child) a:after {
    content: "";
    width: 96%;
    height: 1px;
    display: block;
    background: #a9a9a9;
    position: absolute;
    left: 4px;
    bottom: -1px;
  }
  #menu-top_menu .hideshow ul li a {
    padding: 4px 12px 5px 40px;
  }
  header nav ul li ul li.current-menu-item > .wrapBtn a {
    background: #0086ff;
    color: #ffffff !important;
  }
  header nav ul li ul.sub-menu > li:hover > div > a,
  header nav ul li ul.sub-menu li:hover > a,
  header nav ul li ul.sub-menu li.current-menu-item > a,
  #menu-top_menu .hideshow ul li:hover > .wrapBtn > a,
  #menu-top_menu .hideshow ul li:hover > .sub-menu > .wrapBtn > a {
    background: #0086ff;
    color: #ffffff;
    border-radius: 0px;
    text-decoration: none;
  }
  header ul li ul li:hover > .wrapBtn > .ddArrow i:after {
    background: #ffffff;
  }
  header nav ul li ul.sub-menu li:hover > .wrapBtn .ddArrow i,
  #menu-top_menu .hideshow .more ~ ul li:hover > .wrapBtn .ddArrow i {
    color: #ffffff;
  }
  header nav ul.menu .hideshow li:hover .wrapBtn {
    margin: 0;
  }
  header nav ul.menu .hideshow li:hover .wrapBtn a {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #menu-top_menu .hideshow ul {
    right: 0;
  }
  header nav ul li ul.sub-menu li .ddArrow,
  #menu-top_menu .hideshow .more ~ ul li .ddArrow {
    top: 0px;
  }
  header nav ul li ul.sub-menu li .ddArrow i {
    -webkit-transform: rotate(-90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    -moz-transform: rotate(-90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    -o-transform: rotate(-90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    -ms-transform: rotate(-90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    transform: rotate(-90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    margin-top: 12px;
  }
  #menu-top_menu .hideshow .more ~ ul li .ddArrow i {
    -webkit-transform: rotate(90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    -moz-transform: rotate(90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    -o-transform: rotate(90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    -ms-transform: rotate(90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    transform: rotate(90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    margin-top: 12px;
  }
  header nav li.back {
    display: none !important;
  }
}
/* ===Ipad portrait to desktop ===*/
@media (min-width: 768px) {
  .flip {
    -webkit-transform: rotate(180deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    -moz-transform: rotate(180deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    -o-transform: rotate(180deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    -ms-transform: rotate(180deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    transform: rotate(180deg) scale(1) skew(0deg) translate(0px) translateX(0px);
  }
}
/* ===  Ipad and mobile  === */
@media (max-width: 991px) {
  header,
  header nav.active {
    z-index: 999;
  }
  #navToggle {
    float: left;
    display: inline-block;
    font-size: 24px;
    vertical-align: top;
    color: #ffffff;
    cursor: pointer;
    margin-top: 11px;
  }
  #menu-top_menu,
  .sub-menu {
    top: 60px;
    margin: 0;
    bottom: 0;
  }
  header nav {
    -webkit-transition: left 0.2s linear;
    -moz-transition: left 0.2s linear;
    -o-transition: left 0.2s linear;
    -ms-transition: left 0.2s linear;
    transition: left 0.2s linear;
    width: 245px;
    top: 60px;
    left: -320px;
    height: 100%;
    overflow: hidden;
    position: fixed !important;
  }
  header nav .container {
    padding: 0;
  }
  header nav.active {
    left: 0;
  }
  header nav.active ul.menu {
    left: 0;
    display: block;
  }
  header nav.subOpen {
    width: 320px;
  }
  header nav li {
    line-height: 24px;
    position: relative;
  }
  header nav li a {
    color: #3e3f3f;
    font-weight: normal;
    text-decoration: none;
    padding: 10px 34px 10px 15px;
    display: block;
    font-size: 14px;
  }
  header nav li.current-menu-item a {
    font-weight: bold;
  }
  header nav li a:after {
    content: "";
    width: 93%;
    height: 1px;
    display: block;
    background: #a9a9a9;
    position: absolute;
    left: 4px;
    bottom: 0px;
  }
  header nav li.current-menu-parent {
    background: #dedede;
    border: none;
  }
  header nav ul.menu {
    -webkit-transition: left 0.3s linear;
    -moz-transition: left 0.3s linear;
    -o-transition: left 0.3s linear;
    -ms-transition: left 0.3s linear;
    transition: left 0.3s linear;
    position: fixed;
    background: #ffffff;
    width: 245px;
    left: -245px;
    border-right: 1px solid #808080;
  }
  header nav ul.menu > li.current-menu-parent .ddArrow {
    /*background:darken(@baseWhite, 9.5%) ;*/
    border: none;
  }
  header nav ul.menu > li .sub-menu {
    z-index: 6;
    display: none;
    background: #ebedef;
    position: fixed;
    left: 74px;
    width: 245px;
    box-shadow: 1px 4px 6px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: left 0.3s linear;
    -moz-transition: left 0.3s linear;
    -o-transition: left 0.3s linear;
    -ms-transition: left 0.3s linear;
    transition: left 0.3s linear;
  }
  header nav ul.menu > li .sub-menu.open {
    left: 0px;
    width: 320px;
  }
  header nav ul.menu > li .sub-menu .sub-menu {
    left: 74px;
  }
  header nav ul.menu li.active > .sub-menu {
    display: block;
  }
  header nav ul.menu > li.active .sub-menu li {
    width: 100%;
    overflow: hidden;
  }
  header nav ul.menu li.active > .wrapBtn a {
    background: #0086ff;
    color: #ffffff;
  }
  header nav ul.menu > li .back a {
    color: #000000 !important;
  }
  header nav li.back {
    background: #f7f7f7;
  }
  header nav li.back a {
    text-indent: 16px;
    font-weight: bold;
  }
  header nav li.back .ddArrow {
    left: 0;
    height: 41px;
  }
  header ul li.back .ddArrow i {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    color: #3e3f3f;
    margin-top: 14px;
    font-weight: bold;
  }
  header ul li .ddArrow i {
    -webkit-transform: rotate(-90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    -moz-transform: rotate(-90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    -o-transform: rotate(-90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    -ms-transform: rotate(-90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    transform: rotate(-90deg) scale(1) skew(0deg) translate(0px) translateX(0px);
    margin-top: 14px;
    margin-right: 14px;
  }
  header nav li.back .ddArrow {
    border: 0;
  }
  .subOpen #menu-top_menu {
    width: 320px;
  }
  #overlayNav {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 998;
  }
}
/* === Mobile ===*/
@media (max-width: 767px) {
  #menu-top_menu,
  .sub-menu {
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .ddArrow i:after {
    background: #ebedef;
  }
  header nav li.back .ddArrow {
    border: 0;
  }
  header ul li .ddArrow i {
    margin-top: 13px;
  }
}
/* === iPad: portrait only === */
@media (min-width: 768px) and (max-width: 991px) {
  #menu-top_menu#menu-top_menu .hideshow .more,
  .sub-menu {
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.Latest_News_and_Tips .sync1 .slick-slide a h2.info {
  width: 100%;
  height: 96px;
  padding-top: 9px;
}
.Latest_News_and_Tips .sync2 a {
  background: #000000;
}
.Latest_News_and_Tips .sync2 .slick-slide a span.info {
  display: none;
}
.Latest_News_and_Tips .sync2 .slick-slide:not(:hover):not(.slick-active) a {
  opacity: 0.93;
}
.Latest_News_and_Tips .sync2 .slick-slide:hover a:after {
  content: none;
}
.Latest_News_and_Tips .sync2 .slick-slide.slick-active a:after {
  content: none;
}
.Latest_News_and_Tips .sync2 .slick-slide:last-child a {
  margin-left: 2px;
}
.bigIconsImageOverlay .slide {
  padding: 0 19px;
}
.bigIconsImageOverlay .slide .overlay {
  padding-top: 30px;
}
.bigIconsImageOverlay.mobile .slide .overlay .brand {
  width: 50%;
  float: right;
  margin: 5px 0 8px;
  text-align: center;
}
/* 2nd break desktop */
@media (min-width: 992px) and (max-width: 1199px) {
  .bigIconsImageOverlay .slide .overlay {
    padding-top: 15px;
  }
}
/* ===Ipad portrait to desktop ===*/
@media (min-width: 768px) {
  .Latest_News_and_Tips .sync1 .slick-slide a h2.info {
    font-size: 33px;
    line-height: 37px;
  }
}
/* ===  Ipad and mobile  === */
@media (max-width: 991px) {
  .bigIconsImageOverlay .slide .overlay .brand,
  .bigIconsImageOverlay.mobile .slide .overlay .brand {
    width: 50%;
    float: right;
    margin: 5px 0 8px;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .brand_promotion .col-md-5,
  .brand_promotion .col-md-7 {
    width: 50%;
  }
  .brand_promotion .info .wrap {
    height: 104%;
  }
  .brand_promotion .info .wrap .heading {
    margin-bottom: 7px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .brand_promotion .col-sm-6 {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .topReview .Latest_News_and_Tips .sync1 .slick-slide a h2.info {
    font-size: 20px;
    height: 68px;
  }
  .brand_promotion .col-xs-12 {
    width: 100%;
  }
  .brand_promotion a.expand.visible-mobile {
    margin: 25px 0 -19px;
  }
  /*
        .ProductListSlotsThumbnailAndFacts .ListSlotsContainer .ListSlotsItemBtn{z-index: 9;}
        .ListSlotsItemEnd{z-index: 2;}*/
}
