
        <div class="container error-404-container">
            <section class="color">
                <div class="WYSIWYG">
                <h1>{{error_message_text }}</h1>
                    <div class="subtitle">
                        {{ content_text_1 }}
                    </div>
                </div>
            </section>
        </div>
        <div class="container">
            {{sidebar}}
        </div>
