{{ function('get_header') }}
<div class="scroller col-sm-12" id="pageScroller">
    <div class="mainSection bg white E404">
        <div class="container news_archive">
            <div class="row">
                <div class="col-md-9 mainContent">
                    <div class="row topMargin">
                        <div class="col-sm-3 col-sm-push-8 monster monsterImg"></div>
                        <div class="col-sm-7 col-sm-offset-1 col-sm-pull-3 monster monstertxt">
                            <section class="intro WYSIWYG col-md-12">
                                <article>
                                    <h1>{{ title }}</h1>
                                    <p>{{ error_message_text }}</p>
                                    {{ content_text_1 }}
                                </article>
                            </section>
                        </div>
                    </div>
                </div>
                {{ function('wrap_template','sidebar.php') }}
            </div>
        </div>
   
    </div>
</div>
</body>
</html>