{% for post in related_posts %}
    {#{% if post.post_title %}#}
        <li class="inf_item col-xs-12 col-sm-6 col-md-4 single-post">
            <a href="{{ post.permalink }}" class="post-link">
                <span class="image_wrapper">
                      <img src="{{ post.image_src }}"   alt="{{ post.image_alt }}" class="main-image">
                </span>
                <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i>{{ post.date }}</p>
                <span class="title">{{ post.page_title }}</span>
            </a>
            <span>
                {% if post.categories | length > 0 %}
                <ul class="tags">
                    {% for cat in post.categories %}
                        {% if cat.name %}
                            <li class="tag">
                                <a href="{{ cat.link }}">#{{cat.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </span>
        </li>
    {#{% endif %}#}
{% endfor %}