
<div class="container">
    <div id="breadcrumbsWrap" class="hidden-xs">{{ function('breadcrumbs_init') }}</div>
            <section class="newsArchive">
                <h1>{{ text_2_translate }}</h1>
                <ul>
                    {% for post in posts %}
                        <li class="row">
                            <a href="{{ post.permalink }}">
                            <div class="image col-xs-5 col-sm-3 col-md-2"><img src="{{ function('wp_get_attachment_image_src',post.news_item_thumbnail,'full')[0]}}" alt=""/></div>
                            <div class="col-xs-7 col-sm-9 col-md-10">
                                <h2>{{ post.title }}</h2>
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    {{ post.post_date|date}}
                                </div>
                            </div>
                        <div class="bottom col-xs-12 col-sm-8">
                                <p>{{ post.sub_header }} </p>
                                <span class="link" href="{{ post.permalink }}">{{ text_2_translate1 }}</span>
                            </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="pagination">{{ function('wp_pagenavi') }}</div>
            </section>
    <div class="container">{{sidebar}}</div>
</div>


