<div class="container post-archive">
    <div class="row ">
    	  <div class="hidden-xs hidden-sm col-md-4 pull-right">
            <div class="shareBtns" data-share="Share this">
                <ul>
{#                     <li class="share">{{ trans_share }}:</li>
 #}                    <li>
                        <a title="Share this on Facebook" href="http://www.facebook.com/sharer.php?u={{ function('the_permalink') }}" class="fb" data-track="">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Share this on Google" href="https://plus.google.com/share?url={{ function('the_permalink') }}" class="gp" data-track="">
                            <i class="fa fa-google-plus-square"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Share this on Twitte" href="https://twitter.com/home?status={{ function('the_permalink') }}" class="tw" data-track="">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                    </li>
                    {#<li>#}
                        {#<a title="Share this on Pinterest" href="https://pinterest.com/pin/create/button/?url={{ image }}&media=&description=" class="pi" data-track="">#}
                            {#<i class="fa fa-pinterest"></i>#}
                        {#</a>#}
                    {#</li>#}
                </ul>
            </div>
        </div>
        <h1 class="page-title">{{ trans_title }}</h1>
        <ul id="infinit_scroll" class="posts">
            {% embed "archive-blog_posts_loop.twig" %}{% endembed %}
            	<div class="loading" style="display: none;"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
            	<input type="hidden" id="infinity_data" value="{{ post_type }}" last_index="{{ last_post_index }}" amount_of_post="{{ num_of_post }}" max_post_count="{{ max_post_count }}" category_name="{{ category_slug }}" twig_loop="{{ twig_loop }}"/>

        </ul>

    </div>
</div>
