<div class="container">
    <div id="breadcrumbsWrap" class="hidden-xs">{{ function('breadcrumbs_init') }}</div>
  
    <div class="row normal">
	    <h1 class="col-xs-12 col-sm-12 col-md-8">{{h1_title}}</h1>
{# 		{% if share_special_cases == null %}
 #}
		    <div class="hidden-xs hidden-sm col-md-4">
		    	<div class="shareBtns" data-share="Share this">
	                <ul>
	                    <li class="share">{{ trans_share }}:</li>
	                    <li>
	                        <a title="Share this on Facebook" href="http://www.facebook.com/sharer.php?u={{ function('the_permalink') }}" class="fb" data-track="">
	                            <i class="fa fa-facebook-square"></i>
	                        </a>
	                    </li>
	                    <li>
	                        <a title="Share this on Google" href="https://plus.google.com/share?url={{ function('the_permalink') }}" class="gp" data-track="">
	                            <i class="fa fa-google-plus-square"></i>
	                        </a>
	                    </li>
	                    <li>
	                        <a title="Share this on Twitte" href="https://twitter.com/home?status={{ function('the_permalink') }}" class="tw" data-track="">
	                            <i class="fa fa-twitter-square"></i>
	                        </a>
	                    </li>
	                    <li>
	                        <a title="Share this on Pinterest" href="https://pinterest.com/pin/create/button/?url={{ image }}&media=&description=" class="pi" data-track="">
	                            <i class="fa fa-pinterest-square"></i>
	                        </a>
	                    </li>
	                </ul>
	            </div>
		    </div>
		{# {% endif %} #}
    </div>
	<div class="row normal">
		<div class="col-xs-12 col-sm-8">
			<section class="main_content">
				
				<img class="post_img" src="{{ image }}" alt="{{ image_alt }}">
		        
		        {% if (content_text_1) %}
		            <div class="WYSIWYG">{{ function('echo_wysi', content_text_1) }}</div>
		        {% endif %}

		        {% if (widget_1) %}
		            {{ function('do_action','wcms_widgets',widget_1) }}
		        {% endif %}
				
				{% if (content_text_2) %}
		            <div class="WYSIWYG">{{ function('echo_wysi', content_text_2) }}</div>
		        {% endif %}

				<ul class="cat_tags">
				    {% for cat in categories %}
						<li><a href="{{ cat.link }}">#{{ cat.name }}</a></li>						
				    {% endfor %}
				</ul>
			</section>
		</div>
		<aside class="col-xs-12 col-sm-4">
			{{sidebar}}
		</aside>
	</div>
</div>
