
<div class="container">
    <div id="breadcrumbsWrap" class="hidden-xs">{{ function('breadcrumbs_init') }}</div>
    <div class="topReview row"  itemscope itemtype="http://schema.org/Review">
        <div class="author hidden-xs"  itemprop="author" itemtype="http://schema.org/Person" itemprop="name">{{ author_name }}</div>
          <meta itemprop="datePublished" content="{{ post.display_date }}">
        <h1>{{ title }}</h1>
        <div class="brandDetails col-xs-12 col-sm-5 col-md-3">
             {% if remove_conversion_click == 0 %}
           <a class="brand row tr_brandlinks" href="{{ aff_url }}" target="_blank" data-title="{{ trans_playnow }}" title="{{ trans_playnowat }}" >
            {% else %}
             <a class="brand row tr_brandlinks" href="">
             {% endif %}
                <span class="col-xs-6 col-md-12">
                       {# {{ main_logo }} #}
                       <img itemprop="image" src="{{ main_brand_logo_src }}" alt="{{ main_brand_logo_alt }}">
                    <span class="rating "  itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                            <i class="fa fa-rating s-{{ rating_s }}" content="{{rating_s}}" itemprop="ratingValue"></i>
                             <meta itemprop="worstRating" content = "1">
                             <meta itemprop="bestRating" content = "5">
                        </span>
                   </span>
                <span class="col-xs-6 col-md-12">
                    <span class="btn">
                       <span class="valign">
                          <span class="cell">{{ trans_playnow }}</span>
                      </span>
                   </span>
                </span>
            
            </a>
            <div class="bonus">{{ bonus_text }}</div>
            <div class="info">

                <div class="expand col-xs-12 msg_head">
                    <span class="visible-mobile"><i class="fa fa-chevron-down"></i></span>
                    <div class="title">{{trans_info}}</div>
                </div>

                <div class="readMore">
                    <ul>
                        <li><span>{{ name_trans }}:</span>  
                            <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
                             <span class="brandName"  itemprop="name" > {{ brand_name }}</span> 
                            </span>
                        </li>
                        <li><span>{{ trans_website }}:</span><a href="{{ aff_url }}" target="_blank" > {{ website }}</a></li>
                        <li><span>{{ trans_active_since }}:</span> {{ year_established }}</li>
                        <li><span>{{ trans_support }}:</span> {{ support_email }}</li>
                        <li><span> {{ trans_payment_methods }}:</span>

                            <ul class="payments">
                                {% for item in pay_method %}
                                    <li><img src="{{ item }}" alt=""/></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="slider col-xs-12 col-sm-7 col-md-6">
            {{ function('do_action','wcms_widgets',widget_1) }}
        </div>
        <div class="moreDetails col-xs-12 col-sm-12 col-md-3 ">

            <div class="row ">
                <div class="reasons col-sm-7 col-sm-push-5 col-md-12 col-md-push-0">
                    <div class="expand col-xs-12 visible-mobile msg_head">
                        <i class="fa fa-chevron-down"></i>
                        <div class="title">{{ trans_pros_and_cons }}</div>
                    </div>

                    <div class="readMore">{% if pros or cons %}
                        {% if pros %}
                        <div class="prosCons">
                            <div class="pros">
                                <div class="title">{{ trans_Plus }}</div>
                                <ul>
                                    {% for pro in pros %}
                                        <li>{{ pro }}</li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                            {% if cons %}
                            <div class="cons">
                                <div class="title">{{ trans_Minus }}</div>
                                <ul>
                                    {% for con in cons%}
                                    {% if con %}
                                    <li>{{ con }}</li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            </ul>
                            </span>
                            {% endif %}
                            {% endif %}
                        </div>
                        <div class="more">
                            <div class="title">{{ trans_conclusion }}</div>
                            <p>{{ conclusion }}</p>
                        </div>
                    </div>
                </div>

                <div class="ratingDetails col-sm-5 col-sm-pull-7 col-md-12 col-md-push-0 ">

                    <div class="expand col-xs-12  msg_head" >
                        <span class="visible-mobile"><i class="fa fa-chevron-down"></i></span>
                        <div class="title">{{trans_rating}}</div>
                    </div>

                    <div class="readMore">
                        <ul>
                            {% for item in rating_details %}
                                {% if(item.rating) %}
                                    <li>
                                        <span>{{ item.rating_title }}</span>

                                        <div class="rating">
                                            <i class="fa fa-rating s-{{ item.rating }}"></i>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <li>
                                <span>{{ avg_rating.rating_text }}</span>

                                <div class="rating"><i class="fa fa-rating s-{{ avg_rating.rating }}"></i></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        {% if (content_text_1) %}
            <div class="WYSIWYG">
                {{ function('get_echo_wysi',content_text_1) }}
            </div>
        {% endif %}
    </div>
</div>
<section class="color">
    <div class="container">
        {{ function('do_action','wcms_widgets',widget_2) }}

        {% if (content_text_2) %}
            <div class="WYSIWYG">
                {{ function('get_echo_wysi',content_text_2) }}
            </div>
        {% endif %}

        <section>
            {{ function('do_action','wcms_widgets',widget_3) }}
        </section>


        {% if (content_text_3) %}
            <div class="WYSIWYG">
                {{ function('get_echo_wysi',content_text_3) }}
            </div>
        {% endif %}


    </div>

</section>
<div class="container">{{sidebar}}</div>



