
<div class="container">
    <div id="breadcrumbsWrap" class="hidden-xs">{{ function('breadcrumbs_init') }}</div>

    <h1 class="catTitle {{ category_icon }}" >{{ h1_title}}</h1>
    {% if (category_image_src) %}

            {% if main_brand_from_combo == 'null' %}
                <span class="catImg hidden-xs hidden-sm">
                    <img src="{{ category_image_src }}" alt="{{ category_image_alt }}"  >
                </span>
            {% else %}
              <a class="main_promo catImg hidden-xs hidden-sm" target="_blank" href="{{ affiliate_url }}" >
                <img src="{{ category_image_src }}" alt="{{ category_image_alt }}" >
                </a>
            {% endif %}

    {% endif %} 
 


     <div class="WYSIWYG">
        {% if (introduction_text) %}
        {{ function('get_echo_wysi',introduction_text) }}
        {% endif %}
    </div>

    {{ function('do_action','wcms_widgets',widget_1) }}

</div>
<section class="color">
    <div class="container">
        {{ function('do_action','wcms_widgets',widget_2) }}
            {% if (content_text_1) %}
                <div class="WYSIWYG">{{ function('get_echo_wysi',content_text_1)}}</div>
            {% endif %}
            {% if (content_text_2) %}
                <div class="WYSIWYG">{{ function('get_echo_wysi',content_text_2)}}</div>
            {% endif %}
            {{ function('do_action','wcms_widgets',widget_3) }}
            {% if (content_text_3) %}
                <div class="WYSIWYG">{{ function('get_echo_wysi',content_text_3)}}</div>
            {% endif %}
    </div>
</section>
<div class="container">{{sidebar}}</div>


