<footer>
    <div class="container">
         <div class="row">
           <div class="col-sm-5  hidden-xs hidden-sm">
               {{ function('do_action','display_custom_footer_logo') }}

                   <img src="{{ payment_methods_image}}" alt=""/>

           </div>
             <div class="col-sm-4  hidden-xs hidden-sm">
                {{f_menu}}
             </div>
            <div class="col-md-3 col-sm-12">
                <div class="shareBtns visible-desktop" data-share="Share this">
                    <ul>
                        <li class="share">{{ sharethis_trans }}</li>
                        <li>
                            <a title="Share this on Facebook" href="http://www.facebook.com/sharer.php?u={{ function('the_permalink') }}" target="_blank" class="fb" data-track="">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a title="Share this on Google" href="https://plus.google.com/share?url={{ function('the_permalink') }}" target="_blank" class="gp" data-track="">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a title="Share this on Twitter" href="http://twitter.com/share?text=An%20Awesome%20Link&amp;url={{ function('the_permalink') }}" target="_blank" class="tw">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
               {% if (author_link) %}
               <div class="author hidden-xs hidden-sm">
                   <a href="http://{{ author_link }}" target="_blank" data-track="">
                      <i class="fa fa-google-plus"></i>
                      <span>{{ trans_author}}: {{ author_name}} </span>
                  </a> 
               </div>
               {% else %}
               <div class="author hidden-xs hidden-sm">
                      <i class="fa fa-google-plus"></i>
                      <span>{{ trans_author}}: {{ author_name}} </span>
               </div>
               {% endif %}

               {% if contact_us_link %}
               <div class="contactUs hidden-xs hidden-sm">
                    <a href="{{ contact_us_link }}" data-track="" target="_top">
                        <i class="fa fa-envelope"></i>
                        <span>{{ trans_contact }}</span>
                    </a>
               </div>
               {% endif %}
                {% if copyright %}
                  <div class="copyright">{{ copyright }}</div>
                {% endif %}
               

            </div>
             <div class="disclaimer col-xs-12">{{ function ('get_disclaimer_text') }}</div>

        </div>
    </div>
</footer>

{{ retargeting_script }}

<!-- script area end -->
{{ function('wp_footer') }}
{{ function('do_action','end_of_body_tag_script') }}
{{ function('do_action','wcms_scripts','end_of_body_tag_script') }}


</body>
</html>
{{ function('do_action', 'wcms_scripts', 'after_html_tag_script') }}
