<!doctype html>
<!--[if IE 9 ]>    <html class="ie ie9" {{ function('language_attributes') }}> <![endif]-->
<!--[if !IE ]>
<html {{ function('language_attributes') }}>
<![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{function('wp_title',pipe,true_symbol,right)}}</title>
    {{ function('echo_thumbnail')}} {{function('do_action','wcms_scripts','a_b_scripts')}}
    <script>
        var fbAddress = '//connect.facebook.net/{{socialLocalization}}/all.js#xfbml=1&appId={{fbid}}';
    </script>
    {{function('show_robots',g_post)}}
    <!--[if lte IE 9]>

    <script src="{{ function('get_stylesheet_directory_uri') }}/js/respond.js" type="text/javascript"></script>
    <script src="{{ function('get_stylesheet_directory_uri') }}/js/matchMedia.js" type="text/javascript"></script>
    <script src="{{ function('get_stylesheet_directory_uri') }}/js/matchMedia.addListener.js" type="text/javascript"></script>
    <![endif]-->
    {{function('wp_head')}} {{function('end_head_tags',g_post)}}

    <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ 'Open+Sans:400,600,700latin' ] },
            active: function () { fontLoad_callback(); }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
</head>

<body  {{function( 'body_class')}} data-page-type="{{page_type}}" {{(env == 'auto') ? 'data-autoThemeLocatorValue="Gonzo"' : '' }}>
{{ function('do_action',wcms_scripts,body_tag_script) }}
<header>
    <div class="container">
        <div class="row">
            <div id="navToggle" class="col-xs-2 col-sm-1 hidden-lg hidden-md">
                <i class="fa fa-bars"></i>
            </div>
            <a class="site-logo col-xs-8 col-sm-10 col-md-3" href="{{ home_url }}">
                <img src="{{ logo_img }}" alt="{{logo_alt}}" />
            </a>
            <nav id="mainNavigation" data-back="back!">
                {{ menu }}
            </nav>
            <div class="button social col-xs-2 col-sm-1">
                <i class="fa fa-share-alt"></i>
                <ul>
                    {% if (googleplus) %}
                    <li class="gp"><a href="{{ googleplus }}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    {% endif %} {% if (facebook) %}
                    <li class="face"><a href="{{ facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %} {% if (twitter) %}
                    <li class="tw"><a href="{{ twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
 