
<div class="container">
    <h1>{{ title }}</h1>
	<div class="iconIntro  hidden-xs">
        <img src="{{ icon }}" alt=""/>
	</div>
    <div class="WYSIWYG">
        {{ function('get_echo_wysi',introduction)}}
    </div>
    {% if (widget_place_holder_mobile) %}
    {{  function('do_action','wcms_widgets', widget_place_holder_mobile) }}

    {% else %}
    {{  function('do_action','wcms_widgets', widget_dynamic_id) }}   
     {% endif %}

    
</div>
<section class="color">
    <div class="container">
        {#{{ function('do_action','wcms_widgets',widget_1) }}#}
		{{ function('do_action','wcms_widgets',widget_2) }}

        <div class="WYSIWYG">
        {{ function('get_echo_wysi',content_text_1)}}
        </div>

        {{ function('do_action','wcms_widgets',widget_3) }}

        <div class="WYSIWYG">
        {{ function('get_echo_wysi',content_text_2)}}
        </div>

    </div>

</section>
<div class="container">{{sidebar}}</div>

