
<div class="container articleNews">
    <div id="breadcrumbsWrap" class="hidden-xs">{{ function('breadcrumbs_init') }}</div>

    <h1>{{ h1_title }}</h1>
    <div class="intro">
        <div class="imgWrap">
            <a href="{{ affiliate_url }}" target="_blank"><img src="{{ article_img_src }}" alt="{{ article_img_alt }}"/></a>

            <div class="date"><i class="fa fa-calendar"></i>{{ trans_published }}: {{ post.display_date }}</div>
            {% if share_special_cases %}
                <div class="shareBtns" data-share="Share this">
                    <ul>
                        <li class="share">{{ trans_share_this }}</li>
                        <li>
                            <a title="Share this on Facebook" href="http://www.facebook.com/sharer.php?u={{ function('the_permalink') }}" class="fb" data-track="">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a title="Share this on Google" href="https://plus.google.com/share?url={{ function('the_permalink') }}" class="gp" data-track="">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="WYSIWYG">{{ function('get_echo_wysi',content_text_1)}}</div>
    </div>


</div>
<section class="color">
    <div class="container">
        {{ function('do_action','wcms_widgets',widget_1) }}

        {% if (content_text_2) %}
        <div class="WYSIWYG">{{ function('get_echo_wysi',content_text_2)}}</div>
        {% endif %}

        {{ function('do_action','wcms_widgets',widget_2) }}
    </div>
</section>
<div class="container">{{sidebar}}</div>


