
<div class="container product">
    <div id="breadcrumbsWrap" class="hidden-xs">{{ function('breadcrumbs_init') }}</div>
    <h1>{{ product_title }}</h1>
    <div class="top row">
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="image col-xs-6 col-sm-4 col-md-6">
                    <a href="{{ affiliate_url }}" target="_blank"><img src="{{ page_image_1_url }} " alt="{{ screenshot1_alt }}"/></a>
                </div>
                <div class="info col-xs-6 col-sm-8 col-md-6">
                    <div class="rating">
                        <i class="fa fa-rating s-{{ star_rating }}"></i>

                        <div class="desc">{{rating_txt}}</div>
                    </div>
                    <div class="bonus"> {{ bonus_text }}</div>
                </div>
                <div class="visit col-xs-12 col-sm-8 col-md-6">
                    <a href="{{ affiliate_url }}" target="_blank">
                         <span class="btn">
                           <span class="valign">
                                <span class="cell">{{ trans_play_at_brand }}</span>
                            </span>
                         </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            {% if (introduction_text) %}
            <div class="WYSIWYG">
                {{ function('get_echo_wysi',introduction_text) }}
            </div>
            {% endif %}
        </div>
    </div>

    {{ function('do_action','wcms_widgets',widget_1) }}

</div>
<section class="color">
    <div class="container">

        {% if (content_text) %}
        <div class="WYSIWYG">
            {{ function('get_echo_wysi',content_text) }}
        </div>
        {% endif %}

        <div class="productAttr">
            <h3>{{ trans_at_a_glance }}</h3>
            <ul class="row">
                {% for attr in attributes %}
                <li class="col-xs-12 col-sm-3"><span>{{ attr.key }}:</span> {{ attr.value }}</li>
                {% endfor %}
            </ul>
        </div>

        {% if (content_text_2) %}
        <div class="WYSIWYG">
            {{ function('get_echo_wysi',content_text_2) }}
        </div>
        {% endif %}
        {{ function('do_action', 'wcms_widgets', widget_2) }}

         {{ function('do_action', 'wcms_widgets', widget_3) }}
    </div>
</section>
<div class="container">{{sidebar}}</div>
