 <div class="container redirect-page-container">
        <section class="color">
            <h3>{{ translation_txt1 }}</h3>
            <p>{{ translation_txt3 }}</p>

            <p class="redirect-loading"><i class="fa fa-spinner fa-spin"></i></p>

        </section>
    </div>
<script>
    setTimeout(function(){
        window.location = '{{ tracker }}';
    },'500');
</script>

