{#{{ add_share_box }}#} <!-- - > share box -->
<div class="container static-page">
    <div class="row normal">
        <div id="mainContent" class="col-xs-12">
        {{ bread }} 
          {% if(h1_title) %}
            <h1>{{ h1_title }}</h1>
            {% endif %}
            {{ static_html }} 
        </div>
    </div>
</div>

{#{{ function ('do_action','wcms_scripts','after_html_tag_script') }}#}

