

<div class="container widgetPage">
    <div class="row normal">
            <div class="row">
               {# {{ bread }} #}
                {#  {{ add_share_box }} #}
                <div class="col-md-12 mainContent">
                <h1> {{ h1_title }} </h1>
                <div class="intro-text">
                    <p> {{ introduction_text }}</p>
                </div>
                  <div class="widgets-repeater row">
     

                {% for widget in widgets_arr %}
                    <div  id="{{ widget.widget }}" class="single-widget col-xs-12">
                    <div class="widget-title">  {{ widget.widget_type }}</div>
                    <h3 class="widget-subtitle">  {{ widget.widget_subtitle }}</h3>
                    <p class="widget-description"> {{ widget.description }}</p>
                    <dl class="widget-definition-list">
                         <dt>Widget Category: </dt>
                             <dd>  {{ widget.new_widgets_array }}</dd>

                            {%  for content in widget.widget_category %}
                              
                            <dt> {{ content.map_labels }}</dd>
                              
                            <dd>{{ content.data }}</dd>
                            {% endfor %}

                     </dl>
                <div>
           </div>
                     {{ function ('do_action','wcms_widgets', widget.widget ) }}
                </div>
                {% endfor %}
                </div>

                </div>

              
            </div>
         </div>

     </div>

</div>


