//============= Variables (LESS) =============//
@baseText : #3E3F3F;
@baseColor01 : #0086FF;
@baseColor02 : #FFDE00;
@baseColor03 : #03BF34;
@baseColor04 : #ebedef;
@baseColor05 : #3E3F3F;
@baseColor06 : #00E53C;
@baseColor07 : #ffffff;
@baseColor08 : #A9A9A9;
@baseColor09 : #f0c030; //rating
@baseWhite : #fff; //white
@baseBlack : #000; //black

// Social
@facebookColor:#3b5998;
@googleColor:#db4437;
@twitterColor:#55acee;
@rssColor: orange ;

.color-base,.before-color-base:before, .before-color-base *:before,.after-color-base:after, .after-color-base *:after {color:@baseColor01;}
.border-base {border-color:@baseColor01;}
.bg-base,.before-bg-base:before, .before-bg-base *:before,.after-bg-base:after, .after-bg-base *:after {background:@baseColor01;}

.bg-baseSecond {background: @baseColor02;}
.border-baseSecond  {border-color:@baseColor02;}
.color-baseSecond,.before-color-baseSecond:before, .before-color-baseSecond *:before,.after-color-baseSecond:after, .after-color-baseSecond *:after {color: @baseColor02;}

